In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.rcParams.update({"font.size": 12})
%matplotlib inline

In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [ ]:
!pip3 install flair

In [2]:
df = pd.read_csv("data/WSB_top_users_features.csv", sep=";")
df.tail(1)

,Unnamed: 0,author,id,title,selftext,date,day,month,year,tickers_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
7252,7252,zxc123zxc123,12,Is WSB hiding the scale of financial crisis? +...,There’s a bubble they’d like us to think WE ca...,"['2021-10-13', '2021-06-04', '2021-06-04', '20...",13 4 4 4 29 22 19 19 7 29 23 23,"['10', '6', '6', '6', '4', '1', '1', '1', '1',...","['2021', '2021', '2021', '2021', '2021', '2021...",NaN,...,0.515,0.59,-0.227381,0.561012,"['Is', 'WSB', 'hiding', 'the', 'scale', 'of', ...","['There', '’s', 'a', 'bubble', 'they', '’d', '...",0.287619,"{'2021': 9, '2020': 3}","{'10': 1, '6': 3, '4': 1, '1': 4, '12': 3}","{'2021-10-13': 1, '2021-06-04': 3, '2021-04-29..."

# Embedding of titles by user

In [ ]:
from flair.embeddings import WordEmbeddings, DocumentPoolEmbeddings
from flair.data import Sentence
from sklearn.manifold import TSNE
%matplotlib inline

## Visualize Embeddings for clustering

## Stacked Embeddings

In [ ]:
from flair.embeddings import  FlairEmbeddings
# initialize the word embeddings
glove_embedding = WordEmbeddings('glove')

# initialize the document embeddings, mode = mean
document_embeddings = DocumentPoolEmbeddings([glove_embedding])
# init Flair forward and backwards embeddings
flair_embedding_forward = FlairEmbeddings('news-forward')
flair_embedding_backward = FlairEmbeddings('news-backward')

2021-12-26 17:36:36,015 https://flair.informatik.hu-berlin.de/resources/embeddings/token/glove.gensim.vectors.npy not found in cache, downloading to /tmp/tmplmlea279

100%|██████████| 160000128/160000128 [00:06<00:00, 25998870.03B/s]

2021-12-26 17:36:42,480 copying /tmp/tmplmlea279 to cache at /root/.flair/embeddings/glove.gensim.vectors.npy

2021-12-26 17:36:42,804 removing temp file /tmp/tmplmlea279
2021-12-26 17:36:43,323 https://flair.informatik.hu-berlin.de/resources/embeddings/token/glove.gensim not found in cache, downloading to /tmp/tmpegklw76a

100%|██████████| 21494764/21494764 [00:01<00:00, 14792396.61B/s]

2021-12-26 17:36:45,096 copying /tmp/tmpegklw76a to cache at /root/.flair/embeddings/glove.gensim

2021-12-26 17:36:45,132 removing temp file /tmp/tmpegklw76a

In [ ]:
from flair.embeddings import StackedEmbeddings

# create a StackedEmbedding object that combines glove and forward/backward flair embeddings
stacked_embeddings = StackedEmbeddings([
                                        glove_embedding,
                                        flair_embedding_forward,
                                        flair_embedding_backward,
                                       ])

In [ ]:
def get_stackedsentence_emb(text):
  sentence = Sentence(text)
  stacked_embeddings.embed(sentence)
  return sentence.embedding


# now check out the embedded tokens.
#for token in sentence:
#    print(token)
#    print(token.embedding)

In [ ]:
#df['title_emb_stacked'] = df['title'].apply(lambda x: get_stackedsentence_emb(x))
title_emb_stacked = df.loc[:50,'title'].apply(lambda x: get_stackedsentence_emb(x))

In [ ]:
from sklearn.manifold import TSNE
%matplotlib inline
def plot_embeddings(df_name,label_name,emb_col_name,total_points):

	all_users = []
	all_users_emb = []
	for index, row in df_name.iterrows():
		 #print(row["author"], row["title_emb"])
		 all_users.append(row[label_name])
		 all_users_emb.append(row[emb_col_name].numpy())
		 

	tsne_model = TSNE(perplexity=40, n_components=2, init='pca', n_iter=2500, random_state=23)
	new_values = tsne_model.fit_transform(all_users_emb)

	x = []
	y = []
	for value in new_values:
		x.append(value[0])
		y.append(value[1])
			
	plt.figure(figsize=(16, 16)) 
	for i in range(len(x[0:total_points])):
		plt.scatter(x[i],y[i])
		plt.annotate(all_users[i],
						 xy=(x[i], y[i]),
						 xytext=(5, 2),
						 textcoords='offset points',
						 ha='right',
						 va='bottom')
	plt.show()

In [ ]:
#plot_embeddings(df,"author","title_emb_stacked",100)

In [ ]:
#plot_embeddings(df[df['score'] > 250],"author","title_emb_stacked",50)

# Count Years, Months

In [ ]:
from collections import Counter

In [ ]:
df['year'] = df['year'].apply(lambda x: list(x.split(" ")))
df["years_count"] = df['year'].apply(lambda x: dict(Counter(list(x))))

In [ ]:
df['month'] = df['month'].apply(lambda x: list(x.split(" ")))
df["months_count"] = df['month'].apply(lambda x: dict(Counter(list(x))))

In [ ]:
df['date'] = df['date'].apply(lambda x: list(x.split(" ")))
df["dates_count"] = df['date'].apply(lambda x: dict(Counter(list(x))))

In [ ]:
df.head(1)

           author  ...                                        dates_count
0  -A-Brocoma2021  ...  {'2021-04-03': 1, '2021-03-28': 1, '2021-03-16...

[1 rows x 29 columns]

In [ ]:
df.to_csv("/content/drive/MyDrive/WSB/WSB_top_users_features.csv",sep=';')

## Are there differences between "old" users (pre-2021) and new ones?

In [ ]:
# split dataset: pre and post hype 
#users_pre = df['year'].apply(lambda x:list(set(x).intersection(pre_years)))
users_post = df[['2021' in x for x in df['year'].values] and ['2020' not in x for x in df['year'].values] and ['2018' not in x for x in df['year'].values] and ['2019' not in x for x in df['year'].values]]
users_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5919 entries, 0 to 7252
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              5919 non-null   object
 1   id                  5919 non-null   int64
 2   title               5919 non-null   object
 3   selftext            5919 non-null   object
 4   date                5919 non-null   object
 5   day                 5919 non-null   object
 6   month               5919 non-null   object
 7   year                5919 non-null   object
 8   tickers_            2497 non-null   object
 9   tickers_count_      5919 non-null   object
 10  link_flair_text     5919 non-null   object
 11  comments_mean       5919 non-null   float64
 12  comments_sum        5919 non-null   int64
 13  score_mean          5919 non-null   float64
 14  score_sum           5919 non-null   int64
 15  upvote_ratio_mean   5919 non-null   float64
 16  upvote_ratio_sum    5919 non-null   float64
 17  flairs              5919 non-null   object
 18  flairs_count        5919 non-null   object
 19  title_polarity      5919 non-null   float64
 20  title_subjectivity  5919 non-null   float64
 21  body_polarity       5919 non-null   float64
 22  body_subjectivity   5919 non-null   float64
 23  title_tokens        5919 non-null   object
 24  selftext_tokens     5919 non-null   object
 25  polarity            5919 non-null   float64
 26  years_count         5919 non-null   object
 27  months_count        5919 non-null   object
 28  dates_count         5919 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 1.4+ MB

In [ ]:
users_post.to_csv("/content/drive/MyDrive/WSB/WSB_users_post-hype.csv",sep=';')

In [ ]:
users_pre = df[['2021' not in x for x in df['year'].values]]
users_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 2 to 7250
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              1034 non-null   object
 1   id                  1034 non-null   int64
 2   title               1034 non-null   object
 3   selftext            1034 non-null   object
 4   date                1034 non-null   object
 5   day                 1034 non-null   object
 6   month               1034 non-null   object
 7   year                1034 non-null   object
 8   tickers_            448 non-null    object
 9   tickers_count_      1034 non-null   object
 10  link_flair_text     1034 non-null   object
 11  comments_mean       1034 non-null   float64
 12  comments_sum        1034 non-null   int64
 13  score_mean          1034 non-null   float64
 14  score_sum           1034 non-null   int64
 15  upvote_ratio_mean   1034 non-null   float64
 16  upvote_ratio_sum    1034 non-null   float64
 17  flairs              1034 non-null   object
 18  flairs_count        1034 non-null   object
 19  title_polarity      1034 non-null   float64
 20  title_subjectivity  1034 non-null   float64
 21  body_polarity       1034 non-null   float64
 22  body_subjectivity   1034 non-null   float64
 23  title_tokens        1034 non-null   object
 24  selftext_tokens     1034 non-null   object
 25  polarity            1034 non-null   float64
 26  years_count         1034 non-null   object
 27  months_count        1034 non-null   object
 28  dates_count         1034 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 242.3+ KB

In [ ]:
users_pre.head(1)

   author  ...                                        dates_count
2  -F1sh-  ...  {'2020-12-04': 1, '2020-09-08': 1, '2020-09-07...

[1 rows x 29 columns]

In [ ]:
users_pre.to_csv("/content/drive/MyDrive/WSB/WSB_users_pre-hype.csv",sep=';')

In [ ]:
users_pre_post = df[['2021' in x for x in df['year'].values] and ['2020' in x for x in df['year'].values] and ['2018' in x for x in df['year'].values] and ['2019' in x for x in df['year'].values]]
users_pre_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 4 to 7250
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              1334 non-null   object
 1   id                  1334 non-null   int64
 2   title               1334 non-null   object
 3   selftext            1334 non-null   object
 4   date                1334 non-null   object
 5   day                 1334 non-null   object
 6   month               1334 non-null   object
 7   year                1334 non-null   object
 8   tickers_            693 non-null    object
 9   tickers_count_      1334 non-null   object
 10  link_flair_text     1334 non-null   object
 11  comments_mean       1334 non-null   float64
 12  comments_sum        1334 non-null   int64
 13  score_mean          1334 non-null   float64
 14  score_sum           1334 non-null   int64
 15  upvote_ratio_mean   1334 non-null   float64
 16  upvote_ratio_sum    1334 non-null   float64
 17  flairs              1334 non-null   object
 18  flairs_count        1334 non-null   object
 19  title_polarity      1334 non-null   float64
 20  title_subjectivity  1334 non-null   float64
 21  body_polarity       1334 non-null   float64
 22  body_subjectivity   1334 non-null   float64
 23  title_tokens        1334 non-null   object
 24  selftext_tokens     1334 non-null   object
 25  polarity            1334 non-null   float64
 26  years_count         1334 non-null   object
 27  months_count        1334 non-null   object
 28  dates_count         1334 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 312.7+ KB

In [ ]:
users_pre_post.head(1)

  author  ...                                        dates_count
4  -Hyre  ...  {'2021-01-29': 2, '2021-01-28': 1, '2019-12-04...

[1 rows x 29 columns]

In [ ]:
users_pre_post.to_csv("/content/drive/MyDrive/WSB/WSB_users_pre-post_hype.csv",sep=';')

## Can we identify those that have posted (successful) DDs?

In [9]:
df.describe()

,Unnamed: 0,id,comments_mean,comments_sum,score_mean,score_sum,upvote_ratio_mean,upvote_ratio_sum,title_polarity,title_subjectivity,body_polarity,body_subjectivity,polarity
count,7253.000000,7253.000000,7253.000000,7.253000e+03,7253.000000,7253.000000,7253.000000,7253.000000,7253.000000,7253.000000,7253.000000,7253.000000,7253.000000
mean,3626.000000,20.604991,44.710142,4.327122e+03,56.210572,1349.207500,0.808659,16.371195,0.064442,0.481713,0.044302,0.371057,0.108743
std,2093.905084,26.956220,422.546416,2.017091e+05,348.667883,9493.127294,0.314847,23.826521,0.162926,0.129514,0.122352,0.220327,0.211182
min,0.000000,11.000000,0.000000,0.000000e+00,1.000000,11.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.360069
25%,1813.000000,12.000000,5.454545,8.200000e+01,1.000000,16.000000,0.750000,10.750000,-0.020567,0.408123,0.000000,0.288889,-0.002833
50%,3626.000000,15.000000,15.276596,2.540000e+02,1.846154,35.000000,0.981818,13.000000,0.063131,0.482381,0.031632,0.450747,0.111765
75%,5439.000000,21.000000,33.111111,6.380000e+02,9.055556,177.000000,1.000000,18.000000,0.153328,0.556878,0.095408,0.507998,0.223496
max,7252.000000,1103.000000,20629.751004,1.374015e+07,9204.916667,368913.000000,1.000000,1103.000000,1.000000,1.000000,1.000000,1.000000,1.371719

In [10]:
# overall top users > median
users_above_median = df[df['score_mean'] >= 1.846154]
users_above_median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3625 entries, 0 to 7252
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          3625 non-null   int64
 1   author              3625 non-null   object
 2   id                  3625 non-null   int64
 3   title               3625 non-null   object
 4   selftext            3625 non-null   object
 5   date                3625 non-null   object
 6   day                 3625 non-null   object
 7   month               3625 non-null   object
 8   year                3625 non-null   object
 9   tickers_            1694 non-null   object
 10  tickers_count_      3625 non-null   object
 11  link_flair_text     3625 non-null   object
 12  comments_mean       3625 non-null   float64
 13  comments_sum        3625 non-null   int64
 14  score_mean          3625 non-null   float64
 15  score_sum           3625 non-null   int64
 16  upvote_ratio_mean   3625 non-null   float64
 17  upvote_ratio_sum    3625 non-null   float64
 18  flairs              3625 non-null   object
 19  flairs_count        3625 non-null   object
 20  title_polarity      3625 non-null   float64
 21  title_subjectivity  3625 non-null   float64
 22  body_polarity       3625 non-null   float64
 23  body_subjectivity   3625 non-null   float64
 24  title_tokens        3625 non-null   object
 25  selftext_tokens     3625 non-null   object
 26  polarity            3625 non-null   float64
 27  years_count         3625 non-null   object
 28  months_count        3625 non-null   object
 29  dates_count         3625 non-null   object
dtypes: float64(9), int64(4), object(17)
memory usage: 877.9+ KB

In [20]:
users_above_median.to_csv('data/WSB_users_Overall_top_median.csv',sep=';',index=False)

In [17]:
# overall top between 25 to 75 percentile
users_25to75 = df.loc[(df['score_mean'] >= 1) & (df['score_mean'] <= 9.055556)]
users_25to75.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5440 entries, 1 to 7252
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5440 non-null   int64
 1   author              5440 non-null   object
 2   id                  5440 non-null   int64
 3   title               5440 non-null   object
 4   selftext            5440 non-null   object
 5   date                5440 non-null   object
 6   day                 5440 non-null   object
 7   month               5440 non-null   object
 8   year                5440 non-null   object
 9   tickers_            2319 non-null   object
 10  tickers_count_      5440 non-null   object
 11  link_flair_text     5440 non-null   object
 12  comments_mean       5440 non-null   float64
 13  comments_sum        5440 non-null   int64
 14  score_mean          5440 non-null   float64
 15  score_sum           5440 non-null   int64
 16  upvote_ratio_mean   5440 non-null   float64
 17  upvote_ratio_sum    5440 non-null   float64
 18  flairs              5440 non-null   object
 19  flairs_count        5440 non-null   object
 20  title_polarity      5440 non-null   float64
 21  title_subjectivity  5440 non-null   float64
 22  body_polarity       5440 non-null   float64
 23  body_subjectivity   5440 non-null   float64
 24  title_tokens        5440 non-null   object
 25  selftext_tokens     5440 non-null   object
 26  polarity            5440 non-null   float64
 27  years_count         5440 non-null   object
 28  months_count        5440 non-null   object
 29  dates_count         5440 non-null   object
dtypes: float64(9), int64(4), object(17)
memory usage: 1.3+ MB

In [18]:
users_25to75.to_csv('data/WSB_users_25to75.csv',sep=';',index=False)

In [3]:
## get all users with 'DD' flair and high upvotes, positive sentiment 
users_DD = df[['DD' in x for x in df['flairs'].values]]
users_DD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3486 entries, 3 to 7251
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          3486 non-null   int64
 1   author              3486 non-null   object
 2   id                  3486 non-null   int64
 3   title               3486 non-null   object
 4   selftext            3486 non-null   object
 5   date                3486 non-null   object
 6   day                 3486 non-null   object
 7   month               3486 non-null   object
 8   year                3486 non-null   object
 9   tickers_            1813 non-null   object
 10  tickers_count_      3486 non-null   object
 11  link_flair_text     3486 non-null   object
 12  comments_mean       3486 non-null   float64
 13  comments_sum        3486 non-null   int64
 14  score_mean          3486 non-null   float64
 15  score_sum           3486 non-null   int64
 16  upvote_ratio_mean   3486 non-null   float64
 17  upvote_ratio_sum    3486 non-null   float64
 18  flairs              3486 non-null   object
 19  flairs_count        3486 non-null   object
 20  title_polarity      3486 non-null   float64
 21  title_subjectivity  3486 non-null   float64
 22  body_polarity       3486 non-null   float64
 23  body_subjectivity   3486 non-null   float64
 24  title_tokens        3486 non-null   object
 25  selftext_tokens     3486 non-null   object
 26  polarity            3486 non-null   float64
 27  years_count         3486 non-null   object
 28  months_count        3486 non-null   object
 29  dates_count         3486 non-null   object
dtypes: float64(9), int64(4), object(17)
memory usage: 844.3+ KB

In [4]:
users_DD.describe()

,Unnamed: 0,id,comments_mean,comments_sum,score_mean,score_sum,upvote_ratio_mean,upvote_ratio_sum,title_polarity,title_subjectivity,body_polarity,body_subjectivity,polarity
count,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000,3486.000000
mean,3611.849971,22.414515,40.946608,956.551061,52.485032,1302.780264,0.782659,17.232263,0.068253,0.476584,0.056647,0.421233,0.124901
std,2094.849369,19.637300,303.983454,5231.594807,313.397822,7793.067789,0.323352,16.522570,0.146659,0.123992,0.103772,0.171173,0.190003
min,3.000000,11.000000,0.000000,0.000000,1.000000,11.000000,0.000000,0.000000,-0.719658,0.000000,-0.600000,0.000000,-0.688058
25%,1786.000000,13.000000,7.867857,124.000000,1.000000,18.000000,0.637700,10.480000,-0.013092,0.405556,0.000000,0.411067,0.015983
50%,3624.500000,17.000000,18.677083,338.000000,2.083333,43.000000,0.974674,13.580000,0.064998,0.476131,0.056917,0.461113,0.122863
75%,5417.750000,24.000000,37.127404,776.500000,9.571115,204.750000,1.000000,20.000000,0.150314,0.548867,0.102322,0.506615,0.229794
max,7251.000000,310.000000,15854.500000,214709.000000,6190.416667,268232.000000,1.000000,223.000000,1.000000,1.000000,1.000000,1.000000,1.165128

In [7]:
# by median 
users_DD_gt_Median = users_DD[users_DD['score_mean'] >= 2.083333]
users_DD_gt_Median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1746 entries, 4 to 7243
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1746 non-null   int64
 1   author              1746 non-null   object
 2   id                  1746 non-null   int64
 3   title               1746 non-null   object
 4   selftext            1746 non-null   object
 5   date                1746 non-null   object
 6   day                 1746 non-null   object
 7   month               1746 non-null   object
 8   year                1746 non-null   object
 9   tickers_            944 non-null    object
 10  tickers_count_      1746 non-null   object
 11  link_flair_text     1746 non-null   object
 12  comments_mean       1746 non-null   float64
 13  comments_sum        1746 non-null   int64
 14  score_mean          1746 non-null   float64
 15  score_sum           1746 non-null   int64
 16  upvote_ratio_mean   1746 non-null   float64
 17  upvote_ratio_sum    1746 non-null   float64
 18  flairs              1746 non-null   object
 19  flairs_count        1746 non-null   object
 20  title_polarity      1746 non-null   float64
 21  title_subjectivity  1746 non-null   float64
 22  body_polarity       1746 non-null   float64
 23  body_subjectivity   1746 non-null   float64
 24  title_tokens        1746 non-null   object
 25  selftext_tokens     1746 non-null   object
 26  polarity            1746 non-null   float64
 27  years_count         1746 non-null   object
 28  months_count        1746 non-null   object
 29  dates_count         1746 non-null   object
dtypes: float64(9), int64(4), object(17)
memory usage: 422.9+ KB

In [19]:
users_DD_gt_Median.to_csv("data/WSB_users_DD_median.csv",sep=';',index=False)

In [ ]:
users_DD_top = users_DD[users_DD['score_mean'] > 60]
users_DD_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 4 to 7224
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              293 non-null    object
 1   id                  293 non-null    int64
 2   title               293 non-null    object
 3   selftext            293 non-null    object
 4   date                293 non-null    object
 5   day                 293 non-null    object
 6   month               293 non-null    object
 7   year                293 non-null    object
 8   tickers_            154 non-null    object
 9   tickers_count_      293 non-null    object
 10  link_flair_text     293 non-null    object
 11  comments_mean       293 non-null    float64
 12  comments_sum        293 non-null    int64
 13  score_mean          293 non-null    float64
 14  score_sum           293 non-null    int64
 15  upvote_ratio_mean   293 non-null    float64
 16  upvote_ratio_sum    293 non-null    float64
 17  flairs              293 non-null    object
 18  flairs_count        293 non-null    object
 19  title_polarity      293 non-null    float64
 20  title_subjectivity  293 non-null    float64
 21  body_polarity       293 non-null    float64
 22  body_subjectivity   293 non-null    float64
 23  title_tokens        293 non-null    object
 24  selftext_tokens     293 non-null    object
 25  polarity            293 non-null    float64
 26  years_count         293 non-null    object
 27  months_count        293 non-null    object
 28  dates_count         293 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 68.7+ KB

In [ ]:
users_DD.to_csv("/content/drive/MyDrive/WSB/WSB_users_DD.csv",sep=';')

## Can we rank the users according to their expertise?

In [ ]:
## rank users based on upvote ratio, num_comments etc.
## order by score_mean 
users_DD = users_DD.sort_values(by=['score_mean'],ascending=False)
users_DD.head()

              author  ...                                        dates_count
4346  armchairtycoon  ...  {'2021-02-23': 1, '2020-12-29': 1, '2020-12-16...
6717       superanth  ...  {'2021-07-06': 1, '2021-05-19': 2, '2021-04-25...
2160          Makitt  ...  {'2021-08-13': 1, '2021-07-14': 1, '2021-05-20...
1825      Jkelchner4  ...  {'2021-02-02': 1, '2021-02-01': 1, '2021-01-28...
3427          Stylux  ...  {'2021-07-20': 1, '2021-03-10': 1, '2021-02-11...

[5 rows x 29 columns]

## Are the same users active in the other reviewed subreddits?

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
## compare users with investing and stocks

wsb = pd.read_csv("/content/drive/MyDrive/WSB/WSB_top_users_features.csv", sep=";")
wsb.tail(1)

      Unnamed: 0  ...                                        dates_count
7252        7252  ...  {'2021-10-13': 1, '2021-06-04': 3, '2021-04-29...

[1 rows x 30 columns]

In [4]:
stocks = pd.read_csv("/content/drive/MyDrive/stocks/stocks_top_users_features.csv", sep=";")
stocks.tail(1)

     Unnamed: 0  ...                                        dates_count
984         984  ...  {'2020-12-28': 1, '2020-12-04': 1, '2020-12-01...

[1 rows x 30 columns]

In [8]:
investing = pd.read_csv("/content/drive/MyDrive/investing/investing_top_users_features.csv", sep=";")

In [30]:
investing.head()

   Unnamed: 0  ...                                        dates_count
0           0  ...  {'2019-12-10': 1, '2019-12-08': 1, '2019-11-25...
1           1  ...  {'2021-06-12': 1, '2021-06-11': 1, '2020-10-04...
2           2  ...  {'2020-12-06': 4, '2020-11-28': 5, '2020-11-21...
3           3  ...  {'2021-04-14': 2, '2021-01-31': 1, '2020-11-18...
4           4  ...  {'2020-12-04': 1, '2020-10-14': 2, '2020-08-24...

[5 rows x 30 columns]

In [9]:
### intersect top users of all three subreddits to find common users

wsb_users = wsb['author'].tolist()
stocks_users = stocks['author'].tolist()
investing_users = investing['author'].tolist()
common_users = set(wsb_users) & set(stocks_users) & set(investing_users)
len(common_users)

33

In [21]:
def common_elements(list1,list2,list3=[]):
    users_wsb_stocks = set(list1) & set(list2) 
    print('Elements in List 1:',len(list1))
    print('Elements in List 2:',len(list2))
    print('common_elements [List 1,2]:',len(users_wsb_stocks))
    print('common_elements:',users_wsb_stocks)
    if list3:
      print('Elements in List 3:',len(list3))
      users_wsb_investing = set(list1) & set(list3)
      print('common_elements [List 1,3]:',len(users_wsb_investing))
      print('common_elements:',users_wsb_investing)
      users_stocks_investing = set(list2) & set(list3)
      print('common_elements [List 2,3]:',len(users_stocks_investing))
      print('common_elements:',users_stocks_investing)  
      users = set(list1) & set(list2) & set(list3)
      print('common_elements [List 1,2,3]:',len(users))
      print('common_elements:',users)

In [25]:
common_elements(wsb_users,stocks_users,investing_users)

Elements in List 1: 7253
Elements in List 2: 985
common_elements [List 1,2]: 143
Elements in List 3: 640
common_elements [List 1,3]: 92
common_elements [List 2,3]: 117
common_elements [List 1,2,3]: 33

In [15]:
## DD users

wsb_dd = pd.read_csv('/content/drive/MyDrive/WSB/WSB_users_DD.csv',sep=';')
stocks_dd = pd.read_csv('/content/drive/MyDrive/stocks/stocks_users_DD.csv',sep=';')
investing_dd = pd.read_csv('/content/drive/MyDrive/investing/investing_users_DD.csv',sep=';')

In [26]:
common_elements(wsb_dd['author'].tolist(),stocks_dd['author'].tolist(),investing_dd['author'].tolist())

Elements in List 1: 3486
Elements in List 2: 985
common_elements [List 1,2]: 94
Elements in List 3: 45
common_elements [List 1,3]: 3
common_elements [List 2,3]: 7
common_elements [List 1,2,3]: 1

In [18]:
## Pre and Post users

wsb_pre = pd.read_csv('/content/drive/MyDrive/WSB/WSB_users_pre-hype.csv',sep=';')
wsb_post = pd.read_csv('/content/drive/MyDrive/WSB/WSB_users_post-hype.csv',sep=';')
stocks_pre = pd.read_csv('/content/drive/MyDrive/stocks/stocks_users_pre-hype.csv',sep=';')
stocks_post = pd.read_csv('/content/drive/MyDrive/stocks/stocks_users_post-hype.csv',sep=';')
investing_pre = pd.read_csv('/content/drive/MyDrive/investing/investing_users_pre-hype.csv',sep=';')
investing_post = pd.read_csv('/content/drive/MyDrive/investing/investing_users_post-hype.csv',sep=';')

In [27]:
## WSB common Pre and Post users
common_elements(wsb_pre['author'].tolist(),wsb_post['author'].tolist())

Elements in List 1: 1034
Elements in List 2: 5919
common_elements [List 1,2]: 499

In [28]:
## stocks common Pre and post users
common_elements(stocks_pre['author'].tolist(),stocks_post['author'].tolist())

Elements in List 1: 283
Elements in List 2: 793
common_elements [List 1,2]: 204

In [29]:
## investing common Pre and Post users
common_elements(investing_pre['author'].tolist(),investing_post['author'].tolist())

Elements in List 1: 271
Elements in List 2: 335
common_elements [List 1,2]: 120

In [57]:
## find common Tickers between pre vs post, subreddits
import re
def count_freq(_column): # column type : list
    trigrams_title = []
    #print(type(_column))
    #print(_column)
    for lst in _column.tolist():  
          #print(type(lst))
          #print(lst)
          if not pd.isna(lst):
            for trigram in lst.split(','):    
              trigram=re.sub('[[]', '', trigram)
              trigram=re.sub('[]]', '', trigram)
              if trigram != '':      
                  trigrams_title.append(trigram.lower())
    count_freq_trigrams = {}
    for item in trigrams_title:
        item = item.strip()
        if item in count_freq_trigrams:
            count_freq_trigrams[item] +=1
        else:
            count_freq_trigrams[item] = 1
    return sorted(count_freq_trigrams.items(), key=lambda item: item[1], reverse = True)

In [81]:
def common_tickers(_column1,_column2,_column3=pd.Series([])): # column type : series
    tickers1 = []
    tickers2 = []
    tickers3 = []
    ticker_lst = [tickers1,tickers2,tickers3]
    columns_lst = [_column1,_column2,_column3]
    for ticker,col in zip(ticker_lst,columns_lst):
        for lst in col.tolist():  
            if not pd.isna(lst):
                for trigram in lst.split(','):    
                  trigram=re.sub('[[]', '', trigram)
                  trigram=re.sub('[]]', '', trigram)
                  if trigram != '':      
                      ticker.append(trigram.lower())
    common_elements(tickers1,tickers2,tickers3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [78]:
common_tickers(wsb_dd['tickers_'],stocks_dd['tickers_'],investing_dd['tickers_'])

Elements in List 1: 6379
Elements in List 2: 1703
common_elements [List 1,2]: 669
common_elements: {" 'iclk'", " 'ljpc'", " 'mac'", " 'net'", " 'roku'", " 'sono'", " 'vtrs'", " 'rtx'", " 'nke'", "'ride'", " 'sgh'", " 'hbi'", " 'asts'", " 'air'", " 'smts'", " 'hrb'", " 'aep'", " 'pcg'", " 'auph'", " 'ctek'", " 'ois'", "'gild'", "'twlo'", " 'ccxi'", " 'sldb'", " 'mmm'", " 'orcl'", " 'snx'", " 'sify'", " 'tlry'", " 'arw'", "'mu'", " 'arwr'", " 'auy'", " 'scs'", " 'gpl'", " 'sjr'", " 'blnk'", " 'mga'", " 'isrg'", " 'gnk'", " 'pump'", " 'ma'", "'pep'", " 'lpx'", "'viac'", " 'ayx'", " 'sq'", " 'ng'", " 'uber'", " 'virt'", " 'nova'", " 'veev'", " 'albo'", "'amd'", " 'tcom'", "'fuv'", " 'tgtx'", " 'din'", " 'xpo'", " 'amat'", " 'grub'", " 'wcn'", " 'dgly'", " 'dal'", " 'gm'", " 'pypl'", " 'sdc'", " 'teck'", "'ba'", "'cmg'", " 'crm'", " 'panw'", " 'wfc'", "'lvs'", " 'b'", " 'cx'", " 'lgih'", "'low'", " 'rng'", " 'chra'", " 'plnt'", " 'hun'", " 'li'", " 'mara'", " 'cbsh'", " 'sail'", " 'bep'", " 'rcl'", "'ttwo'", " 'calm'", " 'khc'", " 'kndi'", " 'ual'", " 'ango'", " 'vrnt'", " 'pd'", "'hal'", " 'conn'", "'oxy'", " 'ampe'", " 'bway'", " 'lw'", "'qs'", " 'enph'", "'luv'", " 'cag'", " 'ccl'", " 'pag'", " 'cyd'", "'pton'", " 'lh'", " 'imv'", " 'hzo'", " 'cvs'", " 'neog'", " 'wh'", " 'avgr'", " 'bkng'", " 'rmbl'", " 'xpev'", "'ai'", " 'a'", " 'root'", " 'cah'", " 'irwd'", " 'spgi'", " 'athm'", " 'eqt'", " 'fslr'", " 'ttd'", " 'himx'", " 'bgfv'", " 'trgp'", " 'mc'", " 'ayi'", " 'grwg'", " 'prty'", " 'coin'", " 'kmph'", " 'mtor'", " 'vmw'", " 'doc'", " 'slb'", " 'mlm'", " 'adap'", " 'gis'", " 'dkng'", " 'vtsi'", " 'wgo'", " 'ontx'", " 'wen'", " 'scvl'", " 'bx'", " 'on'", " 'nrz'", " 'jfin'", " 'iq'", " 'hd'", " 'x'", " 'etsy'", "'uwmc'", " 'chwy'", " 'wwe'", " 'wday'", " 'cci'", " 'gnog'", " 'hexo'", " 'ocgn'", " 'sedg'", " 'rlgy'", "'sndl'", " 'aapl'", "'acb'", " 'nvax'", " 'jill'", " 'gbx'", " 'cost'", " 'w'", " 'cron'", " 'jnj'", "'cron'", " 'se'", " 'mirm'", "'snap'", " 'v'", "'dkng'", " 'visl'", " 'midd'", " 'expr'", " 't'", "'clov'", " 'rdn'", " 'rok'", " 'grpn'", " 'acb'", "'clne'", " 'lake'", " 'kirk'", "'x'", " 'aht'", " 'momo'", " 'gnln'", " 'pays'", " 'dgx'", " 'bud'", " 'amzn'", " 'celh'", " 'll'", " 'wetf'", " 'run'", " 'mots'", " 'mtch'", "'azn'", " 'cmps'", " 'fdx'", " 'srpt'", " 'zim'", " 'swbi'", " 'upst'", " 'hl'", " 'csiq'", " 'info'", " 'tdup'", "'ups'", " 'gps'", " 'rezi'", " 'umpq'", " 'alpn'", " 'u'", " 'dash'", " 'gil'", " 'bah'", "'ccl'", " 'dare'", " 'zeal'", " 'db'", "'upwk'", " 'gpn'", " 'cei'", "'wmt'", "'gold'", "'gme'", " 'si'", "'wkhs'", " 'gme'", " 'wba'", " 'cl'", " 'csse'", "'msft'", " 'mt'", " 'imax'", " 'titn'", " 'boh'", "'aht'", " 'livn'", " 'aroc'", " 'vz'", " 'sbux'", " 'erj'", " 'aqms'", " 'chtr'", " 'mdxg'", " 'glpi'", " 'tast'", " 'sage'", " 'hyre'", "'ttd'", " 'ab'", "'idex'", " 'txn'", " 'bby'", " 'pton'", " 'sglb'", " 'mplx'", "'cost'", " 'clov'", " 'kmb'", " 'nsa'", " 'lyb'", " 'cna'", " 'onvo'", " 'phm'", "'amzn'", " 'psx'", " 'amg'", " 'scwx'", " 'cvna'", " 'et'", "'mgm'", " 'cdw'", "'zm'", " 'intc'", " 'cdak'", " 'viot'", " 'rick'", " 'ups'", " 'lea'", " 'dlth'", " 'iipr'", "'nvax'", " 'ldi'", "'spce'", "'spg'", " 'emn'", " 'chpt'", " 'caap'", " 'rcii'", " 'qcom'", " 'flr'", " 'jwn'", "'nio'", " 'xom'", " 'mogo'", " 'tak'", "'dgly'", " 'nkla'", " 'gte'", " 'snow'", " 'aytu'", "'yy'", " 'avgo'", " 'bntx'", " 'niu'", " 'mrna'", "'plug'", " 'cake'", " 'eaf'", " 'penn'", " 'crc'", " 'prts'", " 'ea'", "'net'", " 'negg'", "'roku'", "'fb'", " 'irnt'", " 'pins'", " 'ibkr'", " 'tlsa'", "'dis'", " 'ati'", " 'sam'", "'psth'", " 'pcrx'", " 'bidu'", " 'qsr'", " 'lnn'", " 'tkr'", " 'nvta'", " 'goog'", " 'tfc'", "'baba'", " 'crnt'", " 'go'", " 'tgt'", " 'mkc'", " 'gsky'", "'zom'", " 'be'", " 'rvlv'", " 'pep'", " 'crsp'", " 'cat'", " 'cboe'", " 'skx'", " 'fr'", " 'shop'", "'apt'", " 'chgg'", " 'rost'", " 'nat'", " 'ms'", " 'tsm'", " 'rkda'", "'blnk'", " 'opgn'", " 'rklb'", " 'clne'", " 'asnd'", " 'xxii'", " 'twtr'", " 'aes'", " 'vlta'", " 'jpm'", " 'ko'", " 'twi'", "'kt'", " 'glw'", " 'fgen'", " 'csco'", " 'wor'", " 'qiwi'", " 'bigc'", " 'irt'", " 'gold'", " 'snap'", " 'jd'", " 'docu'", " 'vff'", " 'levi'", " 'fitb'", " 'sfix'", " 'gt'", " 'disca'", " 'tmdx'", " 'doyu'", " 'lulu'", "'abnb'", " 'bmy'", " 'twlo'", "'crsr'", " 'mgni'", " 'googl'", " 'spg'", "'coin'", " 'play'", " 'ntic'", " 'sava'", " 'syf'", " 'dht'", " 'coty'", " 'twnk'", "'bynd'", "'cvna'", " 'mlco'", " 'bldp'", "'crwd'", " 'dow'", " 'fubo'", " 'pdd'", " 'sig'", " 'eton'", " 'dks'", " 'lmt'", " 'imgn'", " 'ba'", " 'biib'", " 'nee'", " 'plug'", " 'ilpt'", " 'cvac'", " 'dmtk'", "'huya'", " 'osw'", " 'edap'", " 'rad'", " 'dhr'", " 'slp'", " 'mvis'", " 'vmc'", " 'lndc'", " 'zg'", " 'ge'", " 'apo'", " 'cnc'", " 'spce'", " 'rkt'", "'lumn'", " 'psfe'", " 'bhc'", " 'plby'", " 'blue'", " 'tjx'", " 'riot'", " 'tmus'", "'tsla'", " 'wdfc'", "'mp'", " 'xray'", " 'imo'", "'aapl'", " 'rsi'", " 'maxr'", " 'blmn'", " 'hlt'", " 'c'", " 'cmrx'", " 'wmt'", " 'eslt'", " 'mdt'", " 'swn'", " 'edu'", " 'rh'", " 'nvo'", " 'pvh'", " 'viac'", "'lcid'", " 'ptn'", " 'ceqp'", " 'idxx'", " 'mdb'", " 'nvda'", "'bbig'", " 'ccj'", " 'acco'", " 'ttcf'", " 'mas'", " 'abt'", " 'bgs'", " 'nio'", "'tsm'", " 'kplt'", "'crm'", " 'zi'", " 'fb'", " 'mgnx'", " 'schn'", " 'zm'", "'rblx'", " 'geo'", " 'aout'", " 'amrn'", " 'lx'", " 'rpm'", " 'kkr'", " 'f'", " 'blk'", " 'gd'", " 'fcel'", " 'six'", " 'cop'", " 'crwd'", "'ttcf'", " 'onem'", " 'amt'", " 'skt'", " 'bb'", " 'has'", " 'jt'", " 'kbh'", " 'dis'", " 'siri'", " 'fnko'", " 'rl'", " 'nuro'", " 'uaa'", "'hrtx'", " 'crsr'", "'amc'", " 'race'", " 'cnce'", "'cwh'", " 'lamr'", " 'arvl'", " 'atvi'", " 'bac'", " 'cyrn'", "'hood'", " 'best'", " 'well'", " 'wy'", " 'twou'", " 'stz'", " 'whr'", " 'ebay'", " 'frc'", " 'ino'", " 'vrt'", " 'aal'", "'plnt'", " 'bzun'", " 'dg'", " 'fsly'", "'vbiv'", " 'dell'", " 'lazr'", " 'kmx'", " 'msft'", " 'mov'", " 'nclh'", " 'sesn'", " 'clf'", "'nvda'", " 'eric'", " 'beke'", " 'ttnp'", "'intc'", " 'mro'", " 'cmi'", " 'mu'", " 'baba'", " 'muds'", " 'eprt'", " 'crnc'", " 'kdp'", " 'aa'", " 'amc'", " 'nflx'", " 'nok'", " 'bynd'", " 'aeye'", " 'cgc'", " 'gwgh'", " 'pfe'", " 'amd'", " 'jmia'", " 'sqm'", " 'aldx'", " 'lspd'", " 'bp'", " 'tmhc'", " 'hayw'", " 'pg'", " 'mrk'", " 'east'", " 'mpc'", " 'msm'", " 'unf'", " 'de'", " 'jblu'", "'zs'", " 'adbe'", "'gm'", " 'imab'", " 'apog'", " 'bbig'", "'tlry'", "'sq'", " 'peg'", " 'pm'", " 'z'", " 'fold'", " 'pltr'", " 'ice'", " 'ai'", " 'oncy'", " 'aptx'", " 'tnp'", "'adtx'", " 'liqt'", " 'nxpi'", " 'tsla'", " 'payx'", " 'abus'", " 'otrk'", " 'ry'", "'kmph'", " 'prgs'", " 'saic'", " 'gern'", " 'mcd'", " 'pii'", "'w'", "'wish'", " 'fds'", " 'sklz'", " 'vtiq'", " 'big'", " 'gs'", "'bb'", " 'nep'", " 'fang'", " 'estc'", " 'amgn'", " 'cb'", " 'luv'", " 'slca'", " 'mrsn'", " 'fbp'", " 'astr'", "'rkt'", " 'cvx'", "'wwr'", " 'nvcn'", "'cybn'", "'hexo'", " 'stor'", " 'ttwo'"}
Elements in List 3: 23
common_elements [List 1,3]: 10
common_elements: {"'ge'", " 'bldp'", " 'wkhs'", " 'lea'", "'tsla'", "'pins'", " 'fb'", " 'wab'", " 'omc'", " 'nflx'"}
common_elements [List 2,3]: 7
common_elements: {" 'bepc'", " 'bldp'", " 'lea'", "'tsla'", " 'fb'", " 'nflx'", " 'uavs'"}
common_elements [List 1,2,3]: 5
common_elements: {" 'bldp'", " 'lea'", "'tsla'", " 'fb'", " 'nflx'"}

In [79]:
common_tickers(wsb['tickers_'],stocks['tickers_'],investing['tickers_'])

Elements in List 1: 9406
Elements in List 2: 1703
common_elements [List 1,2]: 709
common_elements: {" 'iclk'", " 'ljpc'", " 'mac'", " 'net'", " 'smar'", " 'roku'", "'lrn'", " 'sono'", " 'vtrs'", " 'rtx'", " 'nke'", "'ride'", " 'sgh'", " 'hbi'", " 'asts'", " 'air'", " 'smts'", " 'hrb'", " 'aep'", " 'pcg'", " 'auph'", " 'ctek'", " 'ois'", "'gild'", "'twlo'", " 'ccxi'", " 'sldb'", " 'mmm'", " 'orcl'", " 'snx'", " 'sify'", " 'tlry'", " 'arw'", "'mu'", " 'arwr'", " 'auy'", "'dal'", " 'scs'", " 'gpl'", " 'sjr'", " 'blnk'", " 'mga'", " 'isrg'", " 'gnk'", " 'pump'", " 'ma'", "'pep'", " 'lpx'", "'viac'", " 'ayx'", " 'sq'", " 'ng'", " 'uber'", " 'virt'", " 'nova'", " 'veev'", " 'albo'", "'amd'", " 'tcom'", "'fuv'", " 'tgtx'", " 'din'", " 'xpo'", " 'amat'", " 'grub'", " 'wcn'", " 'dgly'", " 'dal'", " 'gm'", " 'pypl'", " 'sdc'", " 'teck'", "'ba'", "'cmg'", " 'crm'", " 'panw'", " 'wfc'", "'lvs'", " 'b'", " 'cx'", " 'lgih'", "'low'", " 'rng'", " 'chra'", " 'plnt'", " 'hun'", " 'li'", " 'mara'", " 'cbsh'", " 'sail'", " 'bep'", " 'rcl'", "'ttwo'", " 'calm'", " 'khc'", " 'kndi'", " 'ual'", " 'ango'", " 'vrnt'", " 'pd'", "'hal'", " 'crvs'", " 'conn'", "'oxy'", " 'ampe'", " 'bway'", " 'lw'", " 'irm'", "'qs'", " 'enph'", "'luv'", " 'cag'", " 'ccl'", " 'pag'", " 'cyd'", "'pton'", " 'lh'", " 'imv'", " 'hzo'", " 'cvs'", " 'neog'", " 'ngd'", " 'wh'", " 'avgr'", " 'bkng'", " 'rmbl'", " 'xpev'", "'ai'", " 'hear'", " 'a'", " 'root'", " 'cah'", " 'irwd'", " 'spgi'", " 'athm'", " 'eqt'", " 'fslr'", " 'ttd'", " 'himx'", " 'bgfv'", " 'trgp'", " 'mc'", " 'ayi'", " 'grwg'", " 'prty'", " 'coin'", " 'kmph'", " 'mtor'", "'posh'", " 'vmw'", " 'doc'", " 'slb'", " 'mlm'", " 'adap'", " 'gis'", " 'dkng'", " 'vtsi'", " 'awr'", " 'wgo'", " 'ontx'", " 'wen'", " 'scvl'", " 'bx'", " 'on'", " 'nrz'", " 'jfin'", " 'iq'", " 'hd'", " 'x'", " 'etsy'", "'uwmc'", " 'chwy'", " 'wwe'", " 'enr'", " 'wday'", " 'cci'", " 'gnog'", " 'hexo'", " 'ocgn'", " 'sedg'", " 'rlgy'", "'sndl'", " 'aapl'", "'acb'", " 'nvax'", " 'jill'", " 'gbx'", " 'cost'", " 'w'", " 'cron'", " 'jnj'", "'cron'", " 'se'", " 'mirm'", "'snap'", " 'v'", "'dkng'", " 'visl'", " 'midd'", " 'expr'", " 't'", "'clov'", " 'rdn'", " 'rok'", " 'wtrh'", " 'grpn'", " 'acb'", "'clne'", " 'lake'", " 'kirk'", "'x'", " 'aht'", " 'momo'", " 'gnln'", " 'pays'", " 'dgx'", " 'bud'", " 'amzn'", " 'celh'", " 'll'", " 'wetf'", " 'run'", " 'mots'", " 'mtch'", "'azn'", " 'cmps'", " 'fdx'", " 'srpt'", " 'zim'", " 'swbi'", " 'upst'", " 'hl'", " 'csiq'", " 'info'", " 'tdup'", "'ups'", " 'gps'", " 'rezi'", " 'umpq'", " 'alpn'", " 'u'", " 'dash'", " 'gil'", " 'bah'", "'ccl'", " 'dare'", " 'pgen'", " 'zeal'", " 'db'", " 'bill'", " 'phun'", "'upwk'", " 'gpn'", " 'cei'", "'wmt'", "'gold'", "'gme'", " 'band'", " 'si'", "'wkhs'", "'etsy'", " 'gme'", " 'wba'", " 'cl'", " 'csse'", "'msft'", " 'mt'", " 'imax'", " 'titn'", " 'boh'", "'spaq'", "'aht'", " 'livn'", " 'aroc'", " 'vz'", " 'sbux'", " 'erj'", " 'aqms'", " 'chtr'", " 'mdxg'", " 'glpi'", " 'tast'", " 'sage'", " 'hyre'", "'ttd'", " 'ab'", "'idex'", " 'txn'", " 'bby'", " 'pton'", " 'sglb'", " 'mplx'", " 'sft'", "'cost'", " 'clov'", " 'kmb'", " 'nsa'", " 'lyb'", " 'cna'", " 'onvo'", " 'phm'", "'amzn'", " 'psx'", " 'amg'", " 'scwx'", " 'cvna'", " 'et'", "'mgm'", "'se'", " 'cdw'", "'zm'", " 'intc'", " 'cdak'", " 'viot'", " 'rick'", " 'ups'", " 'lea'", " 'dlth'", " 'iipr'", "'nvax'", " 'ldi'", "'spce'", "'spg'", " 'emn'", " 'chpt'", " 'caap'", " 'rcii'", " 'qcom'", " 'flr'", " 'jwn'", "'nio'", " 'xom'", "'fami'", " 'mogo'", " 'tak'", "'dgly'", " 'nkla'", " 'gte'", " 'snow'", " 'aytu'", "'yy'", " 'avgo'", " 'bntx'", " 'niu'", " 'mrna'", "'plug'", " 'cake'", " 'eaf'", " 'penn'", " 'crc'", " 'prts'", " 'ea'", "'net'", " 'negg'", "'roku'", "'fb'", " 'irnt'", " 'pins'", " 'ibkr'", " 'tlsa'", "'dis'", " 'ati'", " 'sam'", "'psth'", " 'pcrx'", " 'bidu'", " 'qsr'", " 'lnn'", " 'tkr'", " 'nvta'", " 'goog'", " 'tfc'", "'baba'", " 'crnt'", " 'go'", " 'tgt'", " 'mkc'", " 'gsky'", "'zom'", " 'be'", " 'rvlv'", " 'pep'", " 'crsp'", " 'cat'", " 'orph'", " 'cboe'", " 'skx'", " 'fr'", " 'shop'", "'apt'", " 'chgg'", " 'rost'", " 'nat'", " 'ms'", " 'tsm'", " 'rkda'", "'blnk'", " 'opgn'", " 'rklb'", " 'clne'", " 'asnd'", " 'xxii'", " 'twtr'", " 'aes'", " 'vlta'", " 'jpm'", " 'ko'", " 'twi'", "'kt'", " 'glw'", " 'fgen'", " 'csco'", " 'wor'", " 'qiwi'", " 'bigc'", " 'irt'", " 'gold'", " 'snap'", " 'jd'", " 'docu'", "'opk'", " 'vff'", " 'levi'", " 'fitb'", " 'sfix'", " 'gt'", " 'disca'", " 'tmdx'", " 'doyu'", " 'lulu'", "'abnb'", " 'bmy'", " 'twlo'", "'crsr'", " 'mgni'", "'four'", " 'googl'", " 'spg'", "'coin'", "'xpev'", " 'play'", " 'ntic'", " 'sava'", " 'syf'", " 'dht'", " 'coty'", " 'twnk'", "'tigr'", "'bynd'", "'cvna'", " 'mlco'", " 'bldp'", "'crwd'", " 'dow'", " 'fubo'", " 'pdd'", " 'sig'", " 'eton'", " 'dks'", " 'lmt'", " 'imgn'", " 'ba'", " 'biib'", " 'trvg'", " 'nee'", " 'plug'", " 'ilpt'", " 'cvac'", " 'dmtk'", "'huya'", " 'osw'", " 'edap'", " 'rad'", " 'dhr'", " 'slp'", " 'mvis'", "'gan'", " 'vmc'", " 'lndc'", " 'zg'", " 'ge'", " 'apo'", " 'cnc'", " 'spce'", " 'rkt'", "'lumn'", " 'psfe'", " 'bhc'", " 'plby'", " 'blue'", " 'tjx'", " 'riot'", " 'cc'", " 'tmus'", "'tsla'", " 'wdfc'", "'mp'", " 'xray'", " 'imo'", "'aapl'", " 'rsi'", " 'maxr'", " 'blmn'", " 'hlt'", " 'c'", " 'cmrx'", " 'wmt'", " 'eslt'", " 'mdt'", " 'swn'", " 'edu'", " 'rh'", " 'nvo'", " 'pvh'", " 'viac'", "'lcid'", " 'ptn'", " 'ceqp'", " 'idxx'", "'v'", " 'mdb'", " 'nvda'", "'bbig'", " 'ccj'", "'team'", " 'acco'", " 'ttcf'", " 'mas'", " 'abt'", " 'bgs'", " 'nio'", "'tsm'", " 'kplt'", "'crm'", " 'zi'", " 'fb'", " 'mgnx'", " 'schn'", " 'zm'", "'rblx'", " 'geo'", " 'aout'", " 'amrn'", " 'lx'", " 'rpm'", " 'kkr'", " 'f'", " 'blk'", " 'gd'", "'kulr'", " 'fcel'", " 'six'", " 'cop'", " 'crwd'", "'ttcf'", " 'onem'", " 'amt'", " 'skt'", " 'bb'", " 'has'", " 'jt'", " 'kbh'", " 'dis'", " 'siri'", " 'fnko'", " 'rl'", " 'nuro'", " 'uaa'", "'hrtx'", " 'crsr'", "'amc'", " 'race'", " 'cnce'", "'adbe'", "'cwh'", " 'lamr'", " 'arvl'", " 'atvi'", " 'bac'", " 'cyrn'", "'hood'", " 'best'", " 'well'", " 'wy'", " 'twou'", " 'stz'", " 'whr'", " 'ebay'", " 'frc'", " 'ni'", " 'ino'", " 'vrt'", " 'aal'", "'plnt'", " 'bzun'", " 'dg'", " 'fsly'", "'vbiv'", " 'dell'", " 'lazr'", " 'uuuu'", " 'kmx'", " 'msft'", " 'mov'", " 'nclh'", " 'sesn'", " 'clf'", "'nvda'", " 'eric'", " 'beke'", " 'ttnp'", "'intc'", " 'abbv'", " 'mro'", "'eric'", " 'cmi'", " 'mu'", " 'baba'", " 'muds'", " 'eprt'", " 'crnc'", " 'kdp'", " 'aa'", " 'amc'", " 'nflx'", " 'nok'", " 'bynd'", " 'aeye'", " 'cgc'", " 'gwgh'", " 'pfe'", " 'amd'", " 'jmia'", " 'sqm'", " 'aldx'", " 'lspd'", " 'bp'", " 'tmhc'", " 'hayw'", " 'pg'", " 'mrk'", " 'east'", " 'mpc'", " 'msm'", " 'unf'", " 'de'", " 'jblu'", "'zs'", " 'adbe'", "'gm'", " 'imab'", " 'apog'", " 'bbig'", "'tlry'", "'sq'", " 'peg'", " 'pm'", " 'z'", " 'fold'", " 'pltr'", " 'ice'", " 'ai'", " 'oncy'", " 'aptx'", " 'tnp'", "'adtx'", "'glsi'", " 'liqt'", " 'nxpi'", " 'tsla'", " 'payx'", " 'abus'", " 'otrk'", " 'ry'", "'kmph'", " 'prgs'", " 'saic'", " 'gern'", " 'mcd'", " 'pii'", "'w'", "'wish'", " 'fds'", " 'sklz'", " 'vtiq'", " 'big'", " 'spwr'", " 'gs'", "'bb'", " 'nep'", " 'fang'", " 'estc'", " 'amgn'", " 'cb'", " 'luv'", " 'slca'", " 'mrsn'", " 'fbp'", " 'astr'", "'lmnd'", "'rkt'", " 'cvx'", "'wwr'", " 'nvcn'", "'dbx'", "'cybn'", "'hexo'", " 'stor'", " 'ttwo'"}
Elements in List 3: 423
common_elements [List 1,3]: 242
common_elements: {" 'ulta'", " 'roku'", " 'sono'", " 'etsy'", " 'okta'", "'teva'", " 'upwk'", " 'ibm'", " 'amrn'", " 'nke'", " 'apt'", " 'wday'", " 'mkc'", "'qcom'", " 'f'", " 'aep'", " 'pcg'", " 'alb'", " 'auph'", "'snow'", " 'cat'", "'pm'", " 'cboe'", " 'skx'", " 'tsn'", " 'fr'", "'sndl'", " 'shop'", " 'aapl'", "'kplt'", " 'nvax'", " 'tigr'", " 'cron'", " 'ccxi'", " 'tsm'", " 'bb'", " 'mmm'", " 'gtn'", " 'bg'", " 'mirm'", "'snap'", " 'v'", " 'al'", "'nnox'", " 'clne'", " 'wab'", "'dkng'", " 'twtr'", " 'dis'", " 'sndl'", " 't'", " 'vlta'", " 'adt'", " 'jpm'", " 'ko'", "'dal'", "'hrtx'", " 'unh'", "'clov'", " 'uaa'", " 'crsr'", "'regn'", "'htz'", " 'fgen'", " 'csco'", " 'grpn'", " 'acb'", " 'ma'", "'pep'", " 'cnce'", "'adbe'", " 'gold'", "'gs'", " 'ayx'", " 'noc'", " 'docu'", " 'wkhs'", " 'sq'", " 'lamr'", " 'posh'", "'x'", "'pfe'", " 's'", " 'stz'", " 'ally'", " 'gt'", " 'tmdx'", " 'lulu'", " 'cpb'", "'abnb'", " 'amzn'", " 'celh'", "'slqt'", " 'twlo'", " 'amat'", " 'll'", " 'grub'", "'uber'", "'crsr'", " 'googl'", " 'mdu'", " 'msft'", " 'wcn'", "'azn'", " 'fdx'", "'nvda'", " 'eric'", " 'zim'", " 'dal'", " 'upst'", " 'sdc'", " 'cmg'", " 'tdup'", "'ba'", " 'wfc'", " 'crm'", " 'lite'", " 'mlco'", " 'rblx'", " 'aso'", " 'umpq'", " 'gil'", " 'bldp'", "'crwd'", " 'cim'", " 'pgen'", " 'mu'", " 'rng'", " 'baba'", "'cmps'", " 'eprt'", " 'bill'", " 'hun'", " 'amc'", " 'nflx'", " 'lyft'", "'gold'", " 'mara'", "'ge'", "'wmt'", " 'dks'", " 'bxp'", " 'ba'", " 'gdp'", " 'bynd'", "'gme'", " 'khc'", " 'cvac'", " 'band'", " 'kndi'", "'pcg'", " 'si'", " 'wix'", "'etsy'", " 'ual'", " 'dmtk'", " 'gme'", " 'pfe'", " 'amd'", " 'imax'", " 'jmia'", " 'sqm'", " 'vmc'", " 'tpr'", " 'lw'", " 'apo'", " 'mo'", " 'ab'", "'ttd'", " 'fun'", "'you'", "'luv'", " 'itci'", " 'ccl'", " 'txn'", "'lrcx'", " 'cnc'", " 'spce'", "'g'", "'shop'", "'riot'", "'tgt'", "'cvs'", "'bngo'", " 'bbig'", "'sq'", " 'fuv'", " 'nsa'", " 'tjx'", " 'gild'", " 'peg'", " 'bkng'", "'amzn'", " 'phm'", " 'riot'", " 'tmus'", "'tsla'", " 'cah'", " 'cdw'", " 'omc'", " 'pltr'", "'aapl'", " 'intc'", "'cers'", " 'hlt'", " 'lea'", " 'tsla'", " 'awk'", " 'eqt'", "'nvax'", "'pins'", " 'tap'", " 'fivn'", " 'hpq'", " 'chpt'", " 'qcom'", " 'wmt'", " 'coin'", " 'big'", " 'xom'", " 'edu'", " 'bdx'", " 'mtor'", " 'viac'", "'c'", " 'nep'", "'t'", " 'bntx'", " 'mrna'", " 'nvda'", "'cgc'", "'bbig'", " 'luv'", " 'ea'", " 'bgs'", " 'nio'", "'fb'", "'crm'", " 'fb'", "'dbx'", "'cybn'", " 'mgnx'"}
common_elements [List 2,3]: 213
common_elements: {" 'sui'", " 'roku'", " 'sono'", " 'etsy'", "'bhc'", " 'amrn'", " 'nke'", " 'wday'", " 'mkc'", " 'f'", " 'yten'", " 'aep'", " 'pcg'", " 'auph'", " 'fl'", " 'cat'", " 'cboe'", " 'skx'", " 'fr'", "'sndl'", " 'alny'", " 'shop'", " 'aapl'", " 'nvax'", " 'cron'", " 'ccxi'", " 'tsm'", " 'bb'", " 'mmm'", " 'mirm'", "'snap'", " 'v'", " 'clne'", " 'twtr'", " 'dis'", "'dkng'", " 'erie'", " 't'", " 'vlta'", " 'jpm'", " 'ko'", "'dal'", "'hrtx'", " 'uaa'", "'clov'", " 'crsr'", " 'fgen'", " 'csco'", " 'grpn'", " 'acb'", " 'ma'", "'pep'", " 'cnce'", " 'uavs'", "'adbe'", " 'gold'", " 'emp'", " 'ayx'", " 'docu'", " 'lamr'", " 'sq'", "'x'", " 'psnl'", " 'itt'", " 'stz'", " 'gt'", " 'tmdx'", " 'pnw'", " 'lulu'", " 'ebr'", "'abnb'", " 'optt'", " 'amrx'", " 'cern'", " 'amzn'", " 'celh'", " 'twlo'", " 'cdxc'", " 'amat'", " 'll'", " 'grub'", "'crsr'", " 'psa'", " 'googl'", " 'msft'", " 'wcn'", "'azn'", " 'fdx'", "'nvda'", " 'mux'", " 'eric'", " 'zim'", " 'dal'", " 'upst'", " 'sdc'", " 'grnq'", " 'tdup'", "'ba'", " 'ed'", " 'wfc'", " 'crm'", " 'mlco'", " 'umpq'", " 'gil'", " 'o'", " 'bldp'", "'crwd'", " 'pgen'", " 'mu'", " 'rng'", " 'baba'", " 'eprt'", " 'bill'", " 'hun'", " 'morf'", " 'amc'", " 'nflx'", "'gold'", "'wmt'", " 'mara'", " 'dks'", " 'ba'", " 'kpti'", " 'slrx'", " 'bynd'", "'gme'", " 'khc'", " 'cvac'", " 'band'", " 'kndi'", " 'si'", " 'dmtk'", "'etsy'", " 'ual'", " 'pfe'", " 'gme'", " 'amd'", " 'imax'", " 'jmia'", " 'sqm'", " 'vmc'", " 'spt'", " 'grbk'", " 'rvp'", " 'wyy'", " 'lw'", " 'apo'", " 'ab'", "'ttd'", "'luv'", " 'cnc'", " 'ccl'", " 'txn'", " 'spce'", " 'peak'", " 'adc'", " 'bbig'", "'sq'", " 'nsa'", " 'tjx'", " 'peg'", " 'bkng'", "'amzn'", " 'phm'", " 'riot'", " 'tmus'", "'tsla'", " 'cah'", " 'cdw'", " 'pltr'", " 'cor'", "'aapl'", " 'intc'", " 'bepc'", " 'hlt'", " 'lea'", " 'tsla'", " 'atnx'", " 'eqt'", "'nvax'", " 'chpt'", " 'btg'", " 'qcom'", " 'wmt'", " 'coin'", " 'big'", " 'xom'", " 'edu'", " 'pzg'", " 'mtor'", " 'viac'", " 'kref'", " 'nep'", " 'bntx'", " 'mrna'", " 'nvda'", "'bbig'", " 'dre'", "'gsmg'", " 'prta'", " 'mdc'", " 'luv'", " 'vrsn'", " 'ea'", " 'bgs'", " 'nio'", " 'ptgx'", "'fb'", "'crm'", " 'fb'", "'dbx'", "'cybn'", " 'mgnx'"}
common_elements [List 1,2,3]: 171
common_elements: {" 'roku'", " 'sono'", " 'etsy'", " 'amrn'", " 'nke'", " 'wday'", " 'mkc'", " 'f'", " 'aep'", " 'pcg'", " 'auph'", " 'cat'", " 'cboe'", " 'skx'", " 'fr'", "'sndl'", " 'shop'", " 'aapl'", " 'nvax'", " 'cron'", " 'ccxi'", " 'tsm'", " 'bb'", " 'mmm'", " 'mirm'", "'snap'", " 'v'", " 'clne'", " 'twtr'", " 'dis'", "'dkng'", " 't'", " 'vlta'", " 'jpm'", " 'ko'", "'dal'", "'hrtx'", " 'uaa'", "'clov'", " 'crsr'", " 'fgen'", " 'csco'", " 'grpn'", " 'acb'", " 'ma'", "'pep'", " 'cnce'", "'adbe'", " 'gold'", " 'ayx'", " 'docu'", " 'lamr'", " 'sq'", "'x'", " 'stz'", " 'gt'", " 'tmdx'", " 'lulu'", "'abnb'", " 'amzn'", " 'celh'", " 'twlo'", " 'amat'", " 'll'", " 'grub'", "'crsr'", " 'googl'", " 'msft'", " 'wcn'", "'azn'", " 'fdx'", "'nvda'", " 'eric'", " 'zim'", " 'dal'", " 'upst'", " 'sdc'", " 'tdup'", "'ba'", " 'wfc'", " 'crm'", " 'mlco'", " 'umpq'", " 'gil'", " 'bldp'", "'crwd'", " 'pgen'", " 'mu'", " 'rng'", " 'baba'", " 'eprt'", " 'bill'", " 'hun'", " 'amc'", " 'nflx'", "'gold'", "'wmt'", " 'mara'", " 'dks'", " 'ba'", " 'bynd'", "'gme'", " 'khc'", " 'cvac'", " 'band'", " 'kndi'", " 'si'", " 'dmtk'", "'etsy'", " 'ual'", " 'pfe'", " 'gme'", " 'amd'", " 'imax'", " 'jmia'", " 'sqm'", " 'vmc'", " 'lw'", " 'apo'", " 'ab'", "'ttd'", "'luv'", " 'cnc'", " 'ccl'", " 'txn'", " 'spce'", " 'bbig'", "'sq'", " 'nsa'", " 'tjx'", " 'peg'", " 'bkng'", "'amzn'", " 'phm'", " 'riot'", " 'tmus'", "'tsla'", " 'cah'", " 'cdw'", " 'pltr'", "'aapl'", " 'intc'", " 'hlt'", " 'lea'", " 'tsla'", " 'eqt'", "'nvax'", " 'chpt'", " 'qcom'", " 'wmt'", " 'coin'", " 'big'", " 'xom'", " 'edu'", " 'mtor'", " 'viac'", " 'nep'", " 'bntx'", " 'mrna'", " 'nvda'", "'bbig'", " 'luv'", " 'ea'", " 'bgs'", " 'nio'", "'fb'", "'crm'", " 'fb'", "'dbx'", "'cybn'", " 'mgnx'"}

In [82]:
common_tickers(wsb_pre['tickers_'],wsb_post['tickers_'])

Elements in List 1: 1132
Elements in List 2: 6520
common_elements [List 1,2]: 358
common_elements: {"'upld'", "'seas'", " 'roku'", " 'sono'", " 'nke'", "'ride'", " 'aeo'", " 'pcg'", "'crox'", " 'm'", "'jd'", "'gild'", "'twlo'", " 'sldb'", " 'tlry'", "'mu'", " 'hpe'", "'play'", "'pep'", " 'ayx'", " 'sq'", " 'uber'", "'pfe'", " 'ally'", " 'veev'", "'amd'", "'siga'", "'bam'", "'twtr'", " 'grub'", "'aal'", "'cris'", " 'gm'", " 'pypl'", " 'blct'", "'ba'", " 'wfc'", " 'crm'", "'cmg'", "'lvs'", " 'plnt'", "'ostk'", " 'li'", " 'psth'", " 'rcl'", "'hmc'", " 'khc'", "'pcg'", "'holx'", "'hal'", " 'enph'", " 'cag'", " 'ccl'", "'pton'", " 'cvs'", "'amat'", " 'avgr'", " 'xpev'", " 'a'", "'mcd'", " 'gh'", "'pins'", " 'ttd'", " 'tho'", "'goog'", " 'clx'", " 'urbn'", " 'ilmn'", "'kr'", "'cgc'", " 'gis'", " 'dkng'", "'cei'", " 'splk'", " 'yy'", " 'hd'", " 'ci'", "'bbw'", " 'x'", " 'etsy'", " 'wynn'", " 'yum'", " 'cof'", " 'aapl'", "'expr'", " 'w'", " 'cost'", " 'dbx'", "'trip'", "'snap'", " 'v'", "'atvi'", "'dkng'", "'jnj'", " 't'", " 'unh'", " 'acb'", "'x'", " 's'", " 'fnv'", "'fsr'", "'jpm'", " 'rdhl'", "'czr'", " 'amzn'", "'six'", " 'fizz'", " 'll'", "'f'", " 'mtch'", "'lulu'", " 'fdx'", " 'swbi'", "'lmt'", " 'cmg'", "'ups'", " 'u'", "'ccl'", " 'db'", "'gold'", "'wmt'", "'gme'", " 'band'", "'etsy'", " 'gme'", "'msft'", " 'mt'", "'bbby'", "'spaq'", " 'sbux'", " 'aqms'", "'dell'", " 'mo'", " 'bby'", " 'pton'", "'ll'", "'cost'", " 'oxy'", "'tgt'", "'amzn'", " 'et'", " 'cvna'", "'mgm'", "'zm'", " 'intc'", "'nvax'", " 'fivn'", "'mo'", "'spce'", "'spg'", " 'bili'", "'yumc'", "'nio'", "'sfix'", " 'xom'", "'fslr'", " 'dxcm'", " 'nkla'", " 'snow'", "'vale'", "'t'", "'fvrr'", "'plug'", " 'mrna'", " 'ea'", " 'ua'", "'net'", "'fb'", " 'pins'", "'ufpi'", "'dis'", " 'bidu'", " 'qsr'", " 'nvta'", " 'goog'", "'teva'", "'baba'", " 'apt'", " 'tgt'", " 'coop'", "'we'", " 'pep'", " 'crsp'", " 'cat'", " 'shop'", "'apt'", " 'are'", " 'chgg'", "'bby'", " 'ms'", " 'rost'", " 'tsm'", "'mck'", " 'twtr'", "'sbux'", " 'jpm'", " 'ko'", " 'ds'", "'htz'", " 'glw'", " 'csco'", "'ino'", "'mrna'", " 'spot'", " 'jd'", " 'snap'", " 'noc'", " 'docu'", " 'levi'", " 'codx'", "'kdp'", " 'lulu'", "'abnb'", "'tmus'", " 'appn'", "'bigc'", "'uber'", "'pltr'", "'xpev'", " 'spg'", " 'googl'", " 'zuo'", " 'play'", " 'twnk'", "'jci'", " 'low'", "'bynd'", " 'hubs'", "'crwd'", " 'dltr'", " 'dow'", "'itci'", " 'ba'", " 'biib'", "'huya'", " 'rad'", " 'solo'", "'mrk'", " 'zg'", " 'ge'", " 'spce'", "'ulta'", "'shop'", "'lumn'", " 'znga'", " 'aci'", " 'tmus'", " 'riot'", "'tsla'", "'aapl'", "'nclh'", " 'maxr'", " 'wing'", "'sun'", " 'stm'", "'msci'", "'bac'", " 'wmt'", "'c'", " 'nvda'", " 'api'", " 'abt'", " 'nio'", "'tsm'", "'cvm'", " 'zi'", " 'fb'", " 'www'", "'xom'", " 'zm'", " 'bj'", " 'amrn'", " 'f'", "'pg'", " 'vygr'", " 'fcel'", "'snow'", "'cnhi'", "'docu'", " 'al'", " 'dis'", "'ko'", "'hrtx'", " 'uaa'", "'amc'", "'lpi'", "'nyt'", "'nkla'", " 'atvi'", "'cpb'", " 'bac'", " 'ccrn'", " 'twou'", " 'ino'", " 'sdgr'", " 'aal'", " 'dg'", " 'fsly'", "'gis'", " 'msft'", " 'rev'", "'nke'", "'intc'", " 'abbv'", " 'mro'", "'fsly'", " 'mu'", " 'baba'", " 'amc'", " 'nflx'", " 'nok'", "'dfs'", " 'bynd'", " 'mgm'", " 'dpz'", " 'cgc'", " 'prpl'", " 'ocn'", " 'pfe'", " 'amd'", " 'bbby'", " 'eng'", "'aep'", " 'rgld'", "'wwe'", " 'jblu'", "'vtiqu'", " 'de'", "'ms'", "'bx'", " 'adbe'", " 'tal'", "'tls'", "'lyft'", " 'czr'", " 'gild'", "'sq'", " 'pltr'", "'glsi'", " 'nxpi'", " 'tsla'", "'dd'", " 'hpq'", " 'mcd'", "'w'", " 'hon'", " 'gs'", "'bb'", " 'cb'", "'vrns'", " 'luv'", "'ally'", "'see'", " 'glu'", "'rkt'", " 'axp'", "'khc'", " 'pm'"}

In [83]:
common_tickers(stocks_pre['tickers_'],stocks_post['tickers_'])

Elements in List 1: 179
Elements in List 2: 1236
common_elements [List 1,2]: 105
common_elements: {" 'etsy'", " 'wday'", " 'f'", " 'be'", "'zom'", " 'skx'", " 'crwd'", " 'shop'", " 'aapl'", "'acb'", " 'cost'", " 'sldb'", " 'se'", " 'chek'", " 'tdoc'", " 'wmg'", "'dkng'", " 'cocp'", " 'visl'", " 't'", " 'jpm'", "'dal'", "'hrtx'", " 'csco'", " 'bigc'", "'viac'", " 'gold'", " 'jd'", " 'ayx'", " 'sq'", " 'bac'", "'x'", " 'well'", " 'whr'", "'d'", " 'ino'", " 'bud'", "'four'", " 'bio'", "'ship'", " 'run'", " 'msft'", " 'sava'", " 'dgly'", "'nvda'", " 'swbi'", " 'pypl'", " 'sdc'", " 'ttnp'", " 'crm'", "'syy'", " 'bkyi'", " 'o'", " 'sint'", "'gold'", "'wmt'", " 'ba'", " 'plug'", " 'bynd'", "'wkhs'", "'msft'", " 'pd'", "'hal'", " 'ge'", " 'irm'", "'idex'", "'luv'", " 'spce'", " 'ccl'", "'zs'", " 'lh'", " 'apog'", " 'cvs'", " 'avgr'", "'sq'", " 'phm'", "'tsla'", " 'cvna'", "'mgm'", "'aapl'", " 'tsla'", " 'tnxp'", " 'lca'", "'spce'", " 'mcd'", " 'wmt'", "'nio'", " 'vtiq'", " 'big'", " 'lrn'", "'fami'", " 'nkla'", "'bb'", " 'aytu'", " 'fang'", " 'mrna'", " 'nvda'", " 'dkng'", " 'penn'", "'net'", " 'nio'", "'fb'", " 'fb'", " 'pins'", "'dis'"}

In [84]:
common_tickers(investing_pre['tickers_'],investing_post['tickers_'])

Elements in List 1: 140
Elements in List 2: 243
common_elements [List 1,2]: 42
common_elements: {"'wmt'", "'cers'", " 'anat'", " 'gold'", "'ge'", " 'noc'", " 'bynd'", " 'tsla'", " 'lea'", " 'khc'", "'pfe'", " 'awk'", " 'gure'", " 'f'", " 'amzn'", " 'cat'", "'pm'", "'uber'", "'virt'", "'abbv'", " 'msft'", " 'aapl'", " 'apo'", " 'mo'", "'luv'", " 'itci'", " 'spce'", " 'ccl'", " 'dis'", "'nnox'", " 'wab'", " 'crm'", " 'adt'", " 'jpm'", " 'ko'", "'hrtx'", "'sq'", " 'gild'", " 'baba'", "'tsla'", " 'nflx'", "'all'"}

In [64]:
#WSB
print('WSB_Pre-hype_tickers:',count_freq(wsb_pre['tickers_'])[:50])
print('WSB_Post-hype_tickers:',count_freq(wsb_post['tickers_'])[:50])

WSB_Pre-hype_tickers: [("'tsla'", 104), ("'spce'", 50), ("'bynd'", 27), ("'msft'", 27), ("'dis'", 22), ("'pltr'", 22), ("'nio'", 21), ("'ba'", 21), ("'amzn'", 20), ("'aapl'", 20), ("'amd'", 19), ("'snap'", 15), ("'zm'", 14), ("'nkla'", 13), ("'fb'", 12), ("'baba'", 12), ("'pton'", 11), ("'uber'", 10), ("'gme'", 10), ("'lulu'", 10), ("'mu'", 10), ("'sbux'", 9), ("'gild'", 9), ("'roku'", 8), ("'bac'", 8), ("'cgc'", 8), ("'atvi'", 8), ("'sq'", 8), ("'ino'", 8), ("'bbby'", 8), ("'fsly'", 7), ("'cost'", 7), ("'goog'", 6), ("'nvda'", 6), ("'tgt'", 6), ("'ge'", 6), ("'lyft'", 6), ("'shop'", 5), ("'pcg'", 5), ("'mo'", 5), ("'tlry'", 5), ("'mcd'", 5), ("'twtr'", 5), ("'f'", 5), ("'acb'", 5), ("'nke'", 5), ("'mrna'", 5), ("'gm'", 5), ("'crm'", 5), ("'ulta'", 5)]
WSB_Post-hype_tickers: [("'gme'", 805), ("'amc'", 342), ("'bb'", 296), ("'tsla'", 247), ("'pltr'", 211), ("'wish'", 148), ("'clov'", 146), ("'nok'", 137), ("'spce'", 132), ("'nio'", 73), ("'rkt'", 69), ("'baba'", 66), ("'aapl'", 58), ("'amd'", 57), ("'amzn'", 51), ("'wkhs'", 50), ("'sndl'", 47), ("'tlry'", 46), ("'uwmc'", 46), ("'clne'", 44), ("'msft'", 41), ("'sdc'", 40), ("'crsr'", 38), ("'mvis'", 38), ("'clf'", 36), ("'sofi'", 34), ("'f'", 33), ("'fb'", 33), ("'nkla'", 33), ("'hood'", 33), ("'bbby'", 30), ("'dis'", 29), ("'zm'", 27), ("'ba'", 26), ("'nvda'", 25), ("'goev'", 24), ("'dkng'", 23), ("'root'", 23), ("'rblx'", 23), ("'ride'", 22), ("'fubo'", 22), ("'mt'", 22), ("'irnt'", 22), ("'bynd'", 20), ("'pton'", 20), ("'snap'", 20), ("'riot'", 19), ("'ocgn'", 19), ("'x'", 19), ("'sklz'", 19)]

In [67]:
print('WSB_DD_tickers:',count_freq(wsb_dd['tickers_'])[:50])

WSB_DD_tickers: [("'gme'", 445), ("'tsla'", 250), ("'amc'", 212), ("'bb'", 176), ("'spce'", 129), ("'pltr'", 126), ("'wish'", 103), ("'clov'", 102), ("'nok'", 87), ("'msft'", 60), ("'aapl'", 59), ("'amzn'", 55), ("'nio'", 55), ("'baba'", 55), ("'dis'", 53), ("'amd'", 53), ("'bynd'", 47), ("'rkt'", 47), ("'ba'", 40), ("'snap'", 40), ("'wkhs'", 37), ("'tlry'", 36), ("'clne'", 33), ("'sndl'", 32), ("'clf'", 31), ("'zm'", 31), ("'sdc'", 30), ("'fb'", 30), ("'f'", 28), ("'uwmc'", 28), ("'nkla'", 27), ("'pton'", 27), ("'bbby'", 26), ("'crsr'", 26), ("'nvda'", 24), ("'dkng'", 23), ("'root'", 22), ("'acb'", 21), ("'goev'", 21), ("'hood'", 20), ("'sofi'", 20), ("'x'", 19), ("'lulu'", 19), ("'sq'", 19), ("'ino'", 19), ("'atvi'", 19), ("'mvis'", 19), ("'irnt'", 19), ("'mrna'", 19), ("'roku'", 18)]

In [65]:
#stocks
print('Stocks_Pre-hype_tickers:',count_freq(stocks_pre['tickers_'])[:50])
print('Stocks_Post-hype_tickers:',count_freq(stocks_post['tickers_'])[:50])

Stocks_Pre-hype_tickers: [("'tsla'", 9), ("'msft'", 4), ("'dkng'", 3), ("'sq'", 3), ("'dis'", 3), ("'aapl'", 3), ("'nvda'", 3), ("'spce'", 3), ("'net'", 2), ("'vtiq'", 2), ("'ba'", 2), ("'fb'", 2), ("'gold'", 2), ("'acb'", 2), ("'wkhs'", 2), ("'ge'", 2), ("'nkla'", 2), ("'nio'", 2), ("'jpm'", 2), ("'wmt'", 2), ("'csco'", 2), ("'mrna'", 2), ("'zom'", 1), ("'visl'", 1), ("'hexo'", 1), ("'dal'", 1), ("'mgm'", 1), ("'fang'", 1), ("'dgly'", 1), ("'sint'", 1), ("'pypl'", 1), ("'bset'", 1), ("'bigc'", 1), ("'ai'", 1), ("'big'", 1), ("'mcd'", 1), ("'cwh'", 1), ("'cvna'", 1), ("'hbi'", 1), ("'cvgi'", 1), ("'xpo'", 1), ("'crm'", 1), ("'dg'", 1), ("'penn'", 1), ("'lstr'", 1), ("'dell'", 1), ("'tdoc'", 1), ("'phm'", 1), ("'momo'", 1), ("'skx'", 1)]
Stocks_Post-hype_tickers: [("'tsla'", 21), ("'gme'", 14), ("'msft'", 12), ("'net'", 12), ("'dkng'", 11), ("'aapl'", 11), ("'nio'", 11), ("'spce'", 9), ("'bb'", 8), ("'fb'", 8), ("'baba'", 8), ("'amc'", 7), ("'intc'", 7), ("'sq'", 7), ("'rkt'", 7), ("'amd'", 6), ("'acb'", 6), ("'amzn'", 6), ("'bbig'", 5), ("'crwd'", 5), ("'pypl'", 5), ("'crsr'", 5), ("'enph'", 5), ("'nok'", 5), ("'snow'", 5), ("'jpm'", 5), ("'plug'", 5), ("'cost'", 4), ("'dis'", 4), ("'shop'", 4), ("'coin'", 4), ("'mrna'", 4), ("'tlry'", 4), ("'ccl'", 4), ("'ge'", 4), ("'crm'", 4), ("'nkla'", 4), ("'nvda'", 4), ("'wmt'", 4), ("'ko'", 4), ("'x'", 4), ("'fsly'", 4), ("'etsy'", 4), ("'v'", 4), ("'abbv'", 4), ("'fdx'", 3), ("'pton'", 3), ("'nat'", 3), ("'ba'", 3), ("'aht'", 3)]

In [66]:
#investing
print('investing_Pre-hype_tickers:',count_freq(investing_pre['tickers_'])[:50])
print('investing_Post-hype_tickers:',count_freq(investing_post['tickers_'])[:50])

investing_Pre-hype_tickers: [("'tsla'", 7), ("'amzn'", 3), ("'qcom'", 3), ("'jpm'", 3), ("'ba'", 3), ("'nflx'", 3), ("'wmt'", 2), ("'shop'", 2), ("'sq'", 2), ("'csco'", 2), ("'fb'", 2), ("'nvda'", 2), ("'t'", 2), ("'aapl'", 2), ("'dis'", 2), ("'googl'", 2), ("'bynd'", 2), ("'uber'", 2), ("'tgt'", 1), ("'htz'", 1), ("'cers'", 1), ("'apo'", 1), ("'adt'", 1), ("'awk'", 1), ("'noc'", 1), ("'ge'", 1), ("'wab'", 1), ("'dbx'", 1), ("'spce'", 1), ("'x'", 1), ("'ptn'", 1), ("'jmia'", 1), ("'wynn'", 1), ("'amat'", 1), ("'alb'", 1), ("'sqm'", 1), ("'pm'", 1), ("'mo'", 1), ("'gild'", 1), ("'hasi'", 1), ("'mkc'", 1), ("'iq'", 1), ("'wkhs'", 1), ("'uavs'", 1), ("'all'", 1), ("'gure'", 1), ("'anat'", 1), ("'lea'", 1), ("'luv'", 1), ("'abbv'", 1)]
investing_Post-hype_tickers: [("'tsla'", 9), ("'gme'", 5), ("'amzn'", 4), ("'kulr'", 3), ("'bbig'", 3), ("'mara'", 2), ("'riot'", 2), ("'nvax'", 2), ("'sq'", 2), ("'bb'", 2), ("'luv'", 2), ("'jpm'", 2), ("'aapl'", 2), ("'sndl'", 2), ("'amc'", 2), ("'etsy'", 2), ("'uber'", 2), ("'gold'", 2), ("'pfe'", 2), ("'y'", 1), ("'muds'", 1), ("'celh'", 1), ("'mrna'", 1), ("'upst'", 1), ("'bntx'", 1), ("'tmdx'", 1), ("'futu'", 1), ("'dmtk'", 1), ("'si'", 1), ("'tigr'", 1), ("'fdx'", 1), ("'vzio'", 1), ("'coin'", 1), ("'nflx'", 1), ("'zim'", 1), ("'snow'", 1), ("'cvs'", 1), ("'baba'", 1), ("'cers'", 1), ("'crwd'", 1), ("'clov'", 1), ("'gab'", 1), ("'wbt'", 1), ("'rbb'", 1), ("'gdp'", 1), ("'cim'", 1), ("'pb'", 1), ("'slrx'", 1), ("'chef'", 1), ("'yten'", 1)]