In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.rcParams.update({"font.size": 12})
%matplotlib inline

In [ ]:
!pip3 install flair

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv("/content/drive/MyDrive/WSB/WSB_top_users_features.csv", sep=";")
df.tail(1)

            author  ...  polarity
7252  zxc123zxc123  ...  0.287619

[1 rows x 26 columns]

# Embedding of titles by user

In [7]:
from flair.embeddings import WordEmbeddings, DocumentPoolEmbeddings
from flair.data import Sentence
from sklearn.manifold import TSNE
%matplotlib inline

## Visualize Embeddings for clustering

## Stacked Embeddings

In [9]:
from flair.embeddings import  FlairEmbeddings
# initialize the word embeddings
glove_embedding = WordEmbeddings('glove')

# initialize the document embeddings, mode = mean
document_embeddings = DocumentPoolEmbeddings([glove_embedding])
# init Flair forward and backwards embeddings
flair_embedding_forward = FlairEmbeddings('news-forward')
flair_embedding_backward = FlairEmbeddings('news-backward')

2021-12-26 17:36:36,015 https://flair.informatik.hu-berlin.de/resources/embeddings/token/glove.gensim.vectors.npy not found in cache, downloading to /tmp/tmplmlea279

100%|██████████| 160000128/160000128 [00:06<00:00, 25998870.03B/s]

2021-12-26 17:36:42,480 copying /tmp/tmplmlea279 to cache at /root/.flair/embeddings/glove.gensim.vectors.npy

2021-12-26 17:36:42,804 removing temp file /tmp/tmplmlea279
2021-12-26 17:36:43,323 https://flair.informatik.hu-berlin.de/resources/embeddings/token/glove.gensim not found in cache, downloading to /tmp/tmpegklw76a

100%|██████████| 21494764/21494764 [00:01<00:00, 14792396.61B/s]

2021-12-26 17:36:45,096 copying /tmp/tmpegklw76a to cache at /root/.flair/embeddings/glove.gensim

2021-12-26 17:36:45,132 removing temp file /tmp/tmpegklw76a

In [10]:
from flair.embeddings import StackedEmbeddings

# create a StackedEmbedding object that combines glove and forward/backward flair embeddings
stacked_embeddings = StackedEmbeddings([
                                        glove_embedding,
                                        flair_embedding_forward,
                                        flair_embedding_backward,
                                       ])

In [11]:
def get_stackedsentence_emb(text):
  sentence = Sentence(text)
  stacked_embeddings.embed(sentence)
  return sentence.embedding


# now check out the embedded tokens.
#for token in sentence:
#    print(token)
#    print(token.embedding)

In [ ]:
#df['title_emb_stacked'] = df['title'].apply(lambda x: get_stackedsentence_emb(x))
title_emb_stacked = df.loc[:50,'title'].apply(lambda x: get_stackedsentence_emb(x))

In [ ]:
from sklearn.manifold import TSNE
%matplotlib inline
def plot_embeddings(df_name,label_name,emb_col_name,total_points):

	all_users = []
	all_users_emb = []
	for index, row in df_name.iterrows():
		 #print(row["author"], row["title_emb"])
		 all_users.append(row[label_name])
		 all_users_emb.append(row[emb_col_name].numpy())
		 

	tsne_model = TSNE(perplexity=40, n_components=2, init='pca', n_iter=2500, random_state=23)
	new_values = tsne_model.fit_transform(all_users_emb)

	x = []
	y = []
	for value in new_values:
		x.append(value[0])
		y.append(value[1])
			
	plt.figure(figsize=(16, 16)) 
	for i in range(len(x[0:total_points])):
		plt.scatter(x[i],y[i])
		plt.annotate(all_users[i],
						 xy=(x[i], y[i]),
						 xytext=(5, 2),
						 textcoords='offset points',
						 ha='right',
						 va='bottom')
	plt.show()

In [ ]:
#plot_embeddings(df,"author","title_emb_stacked",100)

In [ ]:
#plot_embeddings(df[df['score'] > 250],"author","title_emb_stacked",50)

## Count Years, Months

In [13]:
from collections import Counter

In [14]:
df['year'] = df['year'].apply(lambda x: list(x.split(" ")))
df["years_count"] = df['year'].apply(lambda x: dict(Counter(list(x))))

In [15]:
df['month'] = df['month'].apply(lambda x: list(x.split(" ")))
df["months_count"] = df['month'].apply(lambda x: dict(Counter(list(x))))

In [17]:
df['date'] = df['date'].apply(lambda x: list(x.split(" ")))
df["dates_count"] = df['date'].apply(lambda x: dict(Counter(list(x))))

In [18]:
df.head(1)

           author  ...                                        dates_count
0  -A-Brocoma2021  ...  {'2021-04-03': 1, '2021-03-28': 1, '2021-03-16...

[1 rows x 29 columns]

In [19]:
df.to_csv("/content/drive/MyDrive/WSB/WSB_top_users_features.csv",sep=';')

## Are there differences between "old" users (pre-2021) and new ones?

In [53]:
# split dataset: pre and post hype 
#users_pre = df['year'].apply(lambda x:list(set(x).intersection(pre_years)))
users_post = df[['2021' in x for x in df['year'].values] and ['2020' not in x for x in df['year'].values] and ['2018' not in x for x in df['year'].values] and ['2019' not in x for x in df['year'].values]]
users_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5919 entries, 0 to 7252
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              5919 non-null   object
 1   id                  5919 non-null   int64
 2   title               5919 non-null   object
 3   selftext            5919 non-null   object
 4   date                5919 non-null   object
 5   day                 5919 non-null   object
 6   month               5919 non-null   object
 7   year                5919 non-null   object
 8   tickers_            2497 non-null   object
 9   tickers_count_      5919 non-null   object
 10  link_flair_text     5919 non-null   object
 11  comments_mean       5919 non-null   float64
 12  comments_sum        5919 non-null   int64
 13  score_mean          5919 non-null   float64
 14  score_sum           5919 non-null   int64
 15  upvote_ratio_mean   5919 non-null   float64
 16  upvote_ratio_sum    5919 non-null   float64
 17  flairs              5919 non-null   object
 18  flairs_count        5919 non-null   object
 19  title_polarity      5919 non-null   float64
 20  title_subjectivity  5919 non-null   float64
 21  body_polarity       5919 non-null   float64
 22  body_subjectivity   5919 non-null   float64
 23  title_tokens        5919 non-null   object
 24  selftext_tokens     5919 non-null   object
 25  polarity            5919 non-null   float64
 26  years_count         5919 non-null   object
 27  months_count        5919 non-null   object
 28  dates_count         5919 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 1.4+ MB

In [58]:
users_post.to_csv("/content/drive/MyDrive/WSB/WSB_users_post-hype.csv",sep=';')

In [54]:
users_pre = df[['2021' not in x for x in df['year'].values]]
users_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 2 to 7250
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              1034 non-null   object
 1   id                  1034 non-null   int64
 2   title               1034 non-null   object
 3   selftext            1034 non-null   object
 4   date                1034 non-null   object
 5   day                 1034 non-null   object
 6   month               1034 non-null   object
 7   year                1034 non-null   object
 8   tickers_            448 non-null    object
 9   tickers_count_      1034 non-null   object
 10  link_flair_text     1034 non-null   object
 11  comments_mean       1034 non-null   float64
 12  comments_sum        1034 non-null   int64
 13  score_mean          1034 non-null   float64
 14  score_sum           1034 non-null   int64
 15  upvote_ratio_mean   1034 non-null   float64
 16  upvote_ratio_sum    1034 non-null   float64
 17  flairs              1034 non-null   object
 18  flairs_count        1034 non-null   object
 19  title_polarity      1034 non-null   float64
 20  title_subjectivity  1034 non-null   float64
 21  body_polarity       1034 non-null   float64
 22  body_subjectivity   1034 non-null   float64
 23  title_tokens        1034 non-null   object
 24  selftext_tokens     1034 non-null   object
 25  polarity            1034 non-null   float64
 26  years_count         1034 non-null   object
 27  months_count        1034 non-null   object
 28  dates_count         1034 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 242.3+ KB

In [55]:
users_pre.head(1)

   author  ...                                        dates_count
2  -F1sh-  ...  {'2020-12-04': 1, '2020-09-08': 1, '2020-09-07...

[1 rows x 29 columns]

In [59]:
users_pre.to_csv("/content/drive/MyDrive/WSB/WSB_users_pre-hype.csv",sep=';')

In [56]:
users_pre_post = df[['2021' in x for x in df['year'].values] and ['2020' in x for x in df['year'].values] and ['2018' in x for x in df['year'].values] and ['2019' in x for x in df['year'].values]]
users_pre_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 4 to 7250
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              1334 non-null   object
 1   id                  1334 non-null   int64
 2   title               1334 non-null   object
 3   selftext            1334 non-null   object
 4   date                1334 non-null   object
 5   day                 1334 non-null   object
 6   month               1334 non-null   object
 7   year                1334 non-null   object
 8   tickers_            693 non-null    object
 9   tickers_count_      1334 non-null   object
 10  link_flair_text     1334 non-null   object
 11  comments_mean       1334 non-null   float64
 12  comments_sum        1334 non-null   int64
 13  score_mean          1334 non-null   float64
 14  score_sum           1334 non-null   int64
 15  upvote_ratio_mean   1334 non-null   float64
 16  upvote_ratio_sum    1334 non-null   float64
 17  flairs              1334 non-null   object
 18  flairs_count        1334 non-null   object
 19  title_polarity      1334 non-null   float64
 20  title_subjectivity  1334 non-null   float64
 21  body_polarity       1334 non-null   float64
 22  body_subjectivity   1334 non-null   float64
 23  title_tokens        1334 non-null   object
 24  selftext_tokens     1334 non-null   object
 25  polarity            1334 non-null   float64
 26  years_count         1334 non-null   object
 27  months_count        1334 non-null   object
 28  dates_count         1334 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 312.7+ KB

In [57]:
users_pre_post.head(1)

  author  ...                                        dates_count
4  -Hyre  ...  {'2021-01-29': 2, '2021-01-28': 1, '2019-12-04...

[1 rows x 29 columns]

In [60]:
users_pre_post.to_csv("/content/drive/MyDrive/WSB/WSB_users_pre-post_hype.csv",sep=';')

## Can we identify those that have posted (successful) DDs?

In [61]:
## get all users with 'DD' flair and high upvotes, positive sentiment 
users_DD = df[['DD' not in x for x in df['flairs'].values]]
users_DD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3767 entries, 0 to 7252
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              3767 non-null   object
 1   id                  3767 non-null   int64
 2   title               3767 non-null   object
 3   selftext            3767 non-null   object
 4   date                3767 non-null   object
 5   day                 3767 non-null   object
 6   month               3767 non-null   object
 7   year                3767 non-null   object
 8   tickers_            1377 non-null   object
 9   tickers_count_      3767 non-null   object
 10  link_flair_text     3767 non-null   object
 11  comments_mean       3767 non-null   float64
 12  comments_sum        3767 non-null   int64
 13  score_mean          3767 non-null   float64
 14  score_sum           3767 non-null   int64
 15  upvote_ratio_mean   3767 non-null   float64
 16  upvote_ratio_sum    3767 non-null   float64
 17  flairs              3767 non-null   object
 18  flairs_count        3767 non-null   object
 19  title_polarity      3767 non-null   float64
 20  title_subjectivity  3767 non-null   float64
 21  body_polarity       3767 non-null   float64
 22  body_subjectivity   3767 non-null   float64
 23  title_tokens        3767 non-null   object
 24  selftext_tokens     3767 non-null   object
 25  polarity            3767 non-null   float64
 26  years_count         3767 non-null   object
 27  months_count        3767 non-null   object
 28  dates_count         3767 non-null   object
dtypes: float64(9), int64(3), object(17)
memory usage: 882.9+ KB

In [62]:
users_DD.describe()

                id  comments_mean  ...  body_subjectivity     polarity
count  3767.000000    3767.000000  ...        3767.000000  3767.000000
mean     18.930449      48.192934  ...           0.324624     0.093791
std      32.195721     508.212430  ...           0.248753     0.228050
min      11.000000       0.000000  ...           0.000000    -1.360069
25%      12.000000       4.017241  ...           0.000000    -0.022234
50%      14.000000      12.200000  ...           0.425768     0.098270
75%      19.000000      28.496503  ...           0.511634     0.217379
max    1103.000000   20629.751004  ...           1.000000     1.371719

[8 rows x 12 columns]

In [67]:
users_DD_top = users_DD[users_DD['score_mean'] > 60]
users_DD_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 34 to 7244
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              328 non-null    object
 1   id                  328 non-null    int64
 2   title               328 non-null    object
 3   selftext            328 non-null    object
 4   date                328 non-null    object
 5   day                 328 non-null    object
 6   month               328 non-null    object
 7   year                328 non-null    object
 8   tickers_            141 non-null    object
 9   tickers_count_      328 non-null    object
 10  link_flair_text     328 non-null    object
 11  comments_mean       328 non-null    float64
 12  comments_sum        328 non-null    int64
 13  score_mean          328 non-null    float64
 14  score_sum           328 non-null    int64
 15  upvote_ratio_mean   328 non-null    float64
 16  upvote_ratio_sum    328 non-null    float64
 17  flairs              328 non-null    object
 18  flairs_count        328 non-null    object
 19  title_polarity      328 non-null    float64
 20  title_subjectivity  328 non-null    float64
 21  body_polarity       328 non-null    float64
 22  body_subjectivity   328 non-null    float64
 23  title_tokens        328 non-null    object
 24  selftext_tokens     328 non-null    object
 25  polarity            328 non-null    float64
 26  years_count         328 non-null    object
 27  months_count        328 non-null    object
 28  dates_count         328 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 76.9+ KB

In [68]:
users_DD.to_csv("/content/drive/MyDrive/WSB/WSB_users_DD.csv",sep=';')

## Can we rank the users according to their expertise?

In [69]:
## rank users based on upvote ratio, num_comments etc.
## order by score_mean 
users_DD = users_DD.sort_values(by=['score_mean'],ascending=False)
users_DD.head()

                author  ...                                        dates_count
5295    hugh_dickinson  ...  {'2021-03-11': 1, '2021-02-19': 1, '2021-02-11...
3967           WalyWal  ...  {'2021-02-02': 1, '2021-01-28': 1, '2020-12-25...
2616  Ordinary-Fox9986  ...  {'2021-02-03': 1, '2021-02-01': 1, '2021-01-31...
6858       thisisshe14  ...  {'2021-05-27': 1, '2021-02-25': 1, '2021-02-18...
5457             jamsi  ...  {'2021-02-08': 1, '2021-02-03': 1, '2021-02-02...

[5 rows x 29 columns]

## Are the same users active in the other reviewed subreddits?

In [ ]:
## compare users with investing and stocks