In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.rcParams.update({"font.size": 12})
%matplotlib inline

In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [ ]:
!pip3 install flair

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df = pd.read_csv("data/stocks_top_users_features.csv", sep=";")
df.tail(1)

,Unnamed: 0,author,id,title,selftext,date,day,month,year,tickers_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
984,984,zeroskater45,16,Beyond Meat Cash Flow Issue? What is your favo...,"Hi,\n\nI noticed beyond meat has been a fairly...","['2020-12-28', '2020-12-04', '2020-12-01', '20...",28 4 1 3 10 9 8 1 28 20 20 29 18 27 26 25,"['12', '12', '12', '9', '7', '5', '5', '5', '4...","['2020', '2020', '2020', '2020', '2020', '2020...",NaN,...,0.336443,0.457257,0.234165,0.509774,"['Beyond', 'Meat', 'Cash', 'Flow', 'Issue', '?...","['Hi', ',', '\n\n', 'I', 'noticed', 'beyond', ...",0.570608,{'2020': 16},"{'12': 3, '9': 1, '7': 1, '5': 3, '4': 3, '3':...","{'2020-12-28': 1, '2020-12-04': 1, '2020-12-01..."

In [3]:
df.describe()

,Unnamed: 0,id,comments_mean,comments_sum,score_mean,score_sum,upvote_ratio_mean,upvote_ratio_sum,title_polarity,title_subjectivity,body_polarity,body_subjectivity,polarity
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,492.000000,22.774619,28.519815,999.263959,7.581921,230.048731,0.770486,17.268071,0.128167,0.423134,0.096084,0.417602,0.224251
std,284.489309,47.137620,41.971150,9776.052485,51.055797,2100.601050,0.326129,31.351345,0.158982,0.136608,0.064043,0.133405,0.181416
min,0.000000,11.000000,0.000000,0.000000,1.000000,11.000000,0.000000,0.000000,-1.000000,0.000000,-0.337492,0.000000,-0.961706
25%,246.000000,12.000000,9.000000,129.000000,1.000000,15.000000,0.636364,10.000000,0.035000,0.347563,0.060348,0.409974,0.111093
50%,492.000000,15.000000,15.764706,273.000000,1.225806,23.000000,0.961538,12.350000,0.117949,0.423611,0.097497,0.446193,0.210298
75%,738.000000,22.000000,32.727273,628.000000,2.176471,48.000000,0.999231,18.000000,0.209007,0.500000,0.131791,0.477965,0.326346
max,984.000000,1016.000000,548.916667,297918.000000,1232.000000,53236.000000,1.000000,637.370000,1.000000,1.000000,0.357143,0.850000,1.183293

In [5]:
# overall top users > median
users_above_median = df[df['score_mean'] >= df['score_mean'].median()] #
users_above_median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493 entries, 0 to 983
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          493 non-null    int64
 1   author              493 non-null    object
 2   id                  493 non-null    int64
 3   title               493 non-null    object
 4   selftext            493 non-null    object
 5   date                493 non-null    object
 6   day                 493 non-null    object
 7   month               493 non-null    object
 8   year                493 non-null    object
 9   tickers_            146 non-null    object
 10  tickers_count_      493 non-null    object
 11  link_flair_text     493 non-null    object
 12  comments_mean       493 non-null    float64
 13  comments_sum        493 non-null    int64
 14  score_mean          493 non-null    float64
 15  score_sum           493 non-null    int64
 16  upvote_ratio_mean   493 non-null    float64
 17  upvote_ratio_sum    493 non-null    float64
 18  flairs              493 non-null    object
 19  flairs_count        493 non-null    object
 20  title_polarity      493 non-null    float64
 21  title_subjectivity  493 non-null    float64
 22  body_polarity       493 non-null    float64
 23  body_subjectivity   493 non-null    float64
 24  title_tokens        493 non-null    object
 25  selftext_tokens     493 non-null    object
 26  polarity            493 non-null    float64
 27  years_count         493 non-null    object
 28  months_count        493 non-null    object
 29  dates_count         493 non-null    object
dtypes: float64(9), int64(4), object(17)
memory usage: 119.4+ KB

In [6]:
users_above_median.to_csv('data/stocks_users_Overall_top_median.csv',sep=';',index=False)

In [9]:
# overall top between 25 to 75 percentile
users_25to75 = df.loc[(df['score_mean'] >= df['score_mean'].quantile(.25)) & (df['score_mean'] <= df['score_mean'].quantile(.75))]
#users_25to75 = df.loc[(df['score_mean'] >= 1) & (df['score_mean'] <= 2.17)]
users_25to75.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 739 entries, 0 to 984
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          739 non-null    int64
 1   author              739 non-null    object
 2   id                  739 non-null    int64
 3   title               739 non-null    object
 4   selftext            739 non-null    object
 5   date                739 non-null    object
 6   day                 739 non-null    object
 7   month               739 non-null    object
 8   year                739 non-null    object
 9   tickers_            195 non-null    object
 10  tickers_count_      739 non-null    object
 11  link_flair_text     739 non-null    object
 12  comments_mean       739 non-null    float64
 13  comments_sum        739 non-null    int64
 14  score_mean          739 non-null    float64
 15  score_sum           739 non-null    int64
 16  upvote_ratio_mean   739 non-null    float64
 17  upvote_ratio_sum    739 non-null    float64
 18  flairs              739 non-null    object
 19  flairs_count        739 non-null    object
 20  title_polarity      739 non-null    float64
 21  title_subjectivity  739 non-null    float64
 22  body_polarity       739 non-null    float64
 23  body_subjectivity   739 non-null    float64
 24  title_tokens        739 non-null    object
 25  selftext_tokens     739 non-null    object
 26  polarity            739 non-null    float64
 27  years_count         739 non-null    object
 28  months_count        739 non-null    object
 29  dates_count         739 non-null    object
dtypes: float64(9), int64(4), object(17)
memory usage: 179.0+ KB

In [10]:
users_25to75.to_csv('data/stocks_users_25to75.csv',sep=';',index=False)

# Embedding of titles by user

In [5]:
from flair.embeddings import WordEmbeddings, DocumentPoolEmbeddings
from flair.data import Sentence
from sklearn.manifold import TSNE
%matplotlib inline

## Visualize Embeddings for clustering

## Stacked Embeddings

In [ ]:
from flair.embeddings import  FlairEmbeddings
# initialize the word embeddings
glove_embedding = WordEmbeddings('glove')

# initialize the document embeddings, mode = mean
document_embeddings = DocumentPoolEmbeddings([glove_embedding])
# init Flair forward and backwards embeddings
flair_embedding_forward = FlairEmbeddings('news-forward')
flair_embedding_backward = FlairEmbeddings('news-backward')

2021-12-26 17:36:36,015 https://flair.informatik.hu-berlin.de/resources/embeddings/token/glove.gensim.vectors.npy not found in cache, downloading to /tmp/tmplmlea279

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 160000128/160000128 [00:06<00:00, 25998870.03B/s]

2021-12-26 17:36:42,480 copying /tmp/tmplmlea279 to cache at /root/.flair/embeddings/glove.gensim.vectors.npy

2021-12-26 17:36:42,804 removing temp file /tmp/tmplmlea279
2021-12-26 17:36:43,323 https://flair.informatik.hu-berlin.de/resources/embeddings/token/glove.gensim not found in cache, downloading to /tmp/tmpegklw76a

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21494764/21494764 [00:01<00:00, 14792396.61B/s]

2021-12-26 17:36:45,096 copying /tmp/tmpegklw76a to cache at /root/.flair/embeddings/glove.gensim

2021-12-26 17:36:45,132 removing temp file /tmp/tmpegklw76a

In [ ]:
from flair.embeddings import StackedEmbeddings

# create a StackedEmbedding object that combines glove and forward/backward flair embeddings
stacked_embeddings = StackedEmbeddings([
                                        glove_embedding,
                                        flair_embedding_forward,
                                        flair_embedding_backward,
                                       ])

In [ ]:
def get_stackedsentence_emb(text):
  sentence = Sentence(text)
  stacked_embeddings.embed(sentence)
  return sentence.embedding


# now check out the embedded tokens.
#for token in sentence:
#    print(token)
#    print(token.embedding)

In [ ]:
#df['title_emb_stacked'] = df['title'].apply(lambda x: get_stackedsentence_emb(x))
title_emb_stacked = df.loc[:50,'title'].apply(lambda x: get_stackedsentence_emb(x))

In [ ]:
from sklearn.manifold import TSNE
%matplotlib inline
def plot_embeddings(df_name,label_name,emb_col_name,total_points):

	all_users = []
	all_users_emb = []
	for index, row in df_name.iterrows():
		 #print(row["author"], row["title_emb"])
		 all_users.append(row[label_name])
		 all_users_emb.append(row[emb_col_name].numpy())
		 

	tsne_model = TSNE(perplexity=40, n_components=2, init='pca', n_iter=2500, random_state=23)
	new_values = tsne_model.fit_transform(all_users_emb)

	x = []
	y = []
	for value in new_values:
		x.append(value[0])
		y.append(value[1])
			
	plt.figure(figsize=(16, 16)) 
	for i in range(len(x[0:total_points])):
		plt.scatter(x[i],y[i])
		plt.annotate(all_users[i],
						 xy=(x[i], y[i]),
						 xytext=(5, 2),
						 textcoords='offset points',
						 ha='right',
						 va='bottom')
	plt.show()

In [ ]:
#plot_embeddings(df,"author","title_emb_stacked",100)

In [ ]:
#plot_embeddings(df[df['score'] > 250],"author","title_emb_stacked",50)

## Count Years, Months

In [6]:
from collections import Counter

In [7]:
df['year'] = df['year'].apply(lambda x: list(x.split(" ")))
df["years_count"] = df['year'].apply(lambda x: dict(Counter(list(x))))

In [8]:
df['month'] = df['month'].apply(lambda x: list(x.split(" ")))
df["months_count"] = df['month'].apply(lambda x: dict(Counter(list(x))))

In [9]:
df['date'] = df['date'].apply(lambda x: list(x.split(" ")))
df["dates_count"] = df['date'].apply(lambda x: dict(Counter(list(x))))

In [10]:
df.head(1)

          author  ...                                        dates_count
0  -0-itisaplane  ...  {'2020-08-31': 1, '2020-08-29': 1, '2020-08-10...

[1 rows x 29 columns]

In [11]:
df.to_csv("/content/drive/MyDrive/stocks/stocks_top_users_features.csv",sep=';')

## Are there differences between "old" users (pre-2021) and new ones?

In [12]:
# split dataset: pre and post hype 
#users_pre = df['year'].apply(lambda x:list(set(x).intersection(pre_years)))
users_post = df[['2021' in x for x in df['year'].values] and ['2020' not in x for x in df['year'].values] and ['2018' not in x for x in df['year'].values] and ['2019' not in x for x in df['year'].values]]
users_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 793 entries, 0 to 984
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              793 non-null    object
 1   id                  793 non-null    int64
 2   title               793 non-null    object
 3   selftext            793 non-null    object
 4   date                793 non-null    object
 5   day                 793 non-null    object
 6   month               793 non-null    object
 7   year                793 non-null    object
 8   tickers_            222 non-null    object
 9   tickers_count_      793 non-null    object
 10  link_flair_text     793 non-null    object
 11  comments_mean       793 non-null    float64
 12  comments_sum        793 non-null    int64
 13  score_mean          793 non-null    float64
 14  score_sum           793 non-null    int64
 15  upvote_ratio_mean   793 non-null    float64
 16  upvote_ratio_sum    793 non-null    float64
 17  flairs              793 non-null    object
 18  flairs_count        793 non-null    object
 19  title_polarity      793 non-null    float64
 20  title_subjectivity  793 non-null    float64
 21  body_polarity       793 non-null    float64
 22  body_subjectivity   793 non-null    float64
 23  title_tokens        793 non-null    object
 24  selftext_tokens     793 non-null    object
 25  polarity            793 non-null    float64
 26  years_count         793 non-null    object
 27  months_count        793 non-null    object
 28  dates_count         793 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 185.9+ KB

In [17]:
users_post.to_csv("/content/drive/MyDrive/stocks/stocks_users_post-hype.csv",sep=';')

In [18]:
users_pre = df[['2021' not in x for x in df['year'].values]]
users_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 0 to 984
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              283 non-null    object
 1   id                  283 non-null    int64
 2   title               283 non-null    object
 3   selftext            283 non-null    object
 4   date                283 non-null    object
 5   day                 283 non-null    object
 6   month               283 non-null    object
 7   year                283 non-null    object
 8   tickers_            53 non-null     object
 9   tickers_count_      283 non-null    object
 10  link_flair_text     283 non-null    object
 11  comments_mean       283 non-null    float64
 12  comments_sum        283 non-null    int64
 13  score_mean          283 non-null    float64
 14  score_sum           283 non-null    int64
 15  upvote_ratio_mean   283 non-null    float64
 16  upvote_ratio_sum    283 non-null    float64
 17  flairs              283 non-null    object
 18  flairs_count        283 non-null    object
 19  title_polarity      283 non-null    float64
 20  title_subjectivity  283 non-null    float64
 21  body_polarity       283 non-null    float64
 22  body_subjectivity   283 non-null    float64
 23  title_tokens        283 non-null    object
 24  selftext_tokens     283 non-null    object
 25  polarity            283 non-null    float64
 26  years_count         283 non-null    object
 27  months_count        283 non-null    object
 28  dates_count         283 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 66.3+ KB

In [15]:
users_pre.head(1)

          author  ...                                        dates_count
0  -0-itisaplane  ...  {'2020-08-31': 1, '2020-08-29': 1, '2020-08-10...

[1 rows x 29 columns]

In [19]:
users_pre.to_csv("/content/drive/MyDrive/stocks/stocks_users_pre-hype.csv",sep=';')

In [20]:
users_pre_post = df[['2021' in x for x in df['year'].values] and ['2020' in x for x in df['year'].values] and ['2018' in x for x in df['year'].values] and ['2019' in x for x in df['year'].values]]
users_pre_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 1 to 979
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              192 non-null    object
 1   id                  192 non-null    int64
 2   title               192 non-null    object
 3   selftext            192 non-null    object
 4   date                192 non-null    object
 5   day                 192 non-null    object
 6   month               192 non-null    object
 7   year                192 non-null    object
 8   tickers_            51 non-null     object
 9   tickers_count_      192 non-null    object
 10  link_flair_text     192 non-null    object
 11  comments_mean       192 non-null    float64
 12  comments_sum        192 non-null    int64
 13  score_mean          192 non-null    float64
 14  score_sum           192 non-null    int64
 15  upvote_ratio_mean   192 non-null    float64
 16  upvote_ratio_sum    192 non-null    float64
 17  flairs              192 non-null    object
 18  flairs_count        192 non-null    object
 19  title_polarity      192 non-null    float64
 20  title_subjectivity  192 non-null    float64
 21  body_polarity       192 non-null    float64
 22  body_subjectivity   192 non-null    float64
 23  title_tokens        192 non-null    object
 24  selftext_tokens     192 non-null    object
 25  polarity            192 non-null    float64
 26  years_count         192 non-null    object
 27  months_count        192 non-null    object
 28  dates_count         192 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 45.0+ KB

In [21]:
users_pre_post.head(1)

      author  ...                                        dates_count
1  01Cloud01  ...  {'2021-11-15': 1, '2021-10-29': 1, '2021-10-26...

[1 rows x 29 columns]

Warning: Total number of columns (29) exceeds max_columns (20) limiting to first (20) columns.

In [22]:
users_pre_post.to_csv("/content/drive/MyDrive/stocks/stocks_users_pre-post_hype.csv",sep=';')

## Can we identify those that have posted (successful) DDs, Analysis, Company?

In [ ]:
df['flairs'].values

In [11]:
## get all users with 'DD' flair and high upvotes, positive sentiment 
users_DD = df[['Advice' in x for x in df['flairs'].values] or ['Ticker' in x for x in df['flairs'].values]]
users_DD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 1 to 982
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          497 non-null    int64
 1   author              497 non-null    object
 2   id                  497 non-null    int64
 3   title               497 non-null    object
 4   selftext            497 non-null    object
 5   date                497 non-null    object
 6   day                 497 non-null    object
 7   month               497 non-null    object
 8   year                497 non-null    object
 9   tickers_            140 non-null    object
 10  tickers_count_      497 non-null    object
 11  link_flair_text     497 non-null    object
 12  comments_mean       497 non-null    float64
 13  comments_sum        497 non-null    int64
 14  score_mean          497 non-null    float64
 15  score_sum           497 non-null    int64
 16  upvote_ratio_mean   497 non-null    float64
 17  upvote_ratio_sum    497 non-null    float64
 18  flairs              497 non-null    object
 19  flairs_count        497 non-null    object
 20  title_polarity      497 non-null    float64
 21  title_subjectivity  497 non-null    float64
 22  body_polarity       497 non-null    float64
 23  body_subjectivity   497 non-null    float64
 24  title_tokens        497 non-null    object
 25  selftext_tokens     497 non-null    object
 26  polarity            497 non-null    float64
 27  years_count         497 non-null    object
 28  months_count        497 non-null    object
 29  dates_count         497 non-null    object
dtypes: float64(9), int64(4), object(17)
memory usage: 120.4+ KB

In [12]:
users_DD.head(2)

,Unnamed: 0,author,id,title,selftext,date,day,month,year,tickers_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
1,1,01Cloud01,27,Stock buyback monitoring website or tool $GT s...,I notice a lot or companies are issuing stock ...,"['2021-11-15', '2021-10-29', '2021-10-26', '20...",15 29 26 6 30 21 22 3 3 1 23 15 1 7 20 15 12 1...,"['11', '10', '10', '9', '8', '8', '1', '1', '1...","['2021', '2021', '2021', '2021', '2021', '2021...","['SMG', 'GT']",...,0.299495,0.248990,0.129085,0.406224,"['Stock', 'buyback', 'monitoring', 'website', ...","['I', 'notice', 'a', 'lot', 'or', 'companies',...",0.428580,"{'2021': 10, '2020': 12, '2019': 4, '2018': 1}","{'11': 2, '10': 2, '9': 4, '8': 3, '1': 5, '12...","{'2021-11-15': 1, '2021-10-29': 1, '2021-10-26..."
3,3,0toHeroInvesting,128,7 Must Know Things Right Now About The Stock M...,**In todayâ€™s post Iâ€™m going to share with you ...,"['2021-04-08', '2021-04-08', '2021-03-15', '20...",8 8 15 15 22 18 11 2 1 30 29 29 29 29 29 29 29...,"['4', '4', '3', '3', '2', '2', '2', '2', '2', ...","['2021', '2021', '2021', '2021', '2021', '2021...","['COST', 'TSLA', 'ORCL', 'LULU', 'PLAY', 'AMD'...",...,0.059927,0.328736,0.145787,0.448640,"['7', 'Must', 'Know', 'Things', 'Right', 'Now'...","['*', '*', 'In', 'today', 'â€™s', 'post', 'I', '...",0.205714,"{'2021': 48, '2020': 80}","{'4': 2, '3': 2, '2': 5, '1': 39, '12': 46, '1...","{'2021-04-08': 2, '2021-03-15': 2, '2021-02-22..."

In [13]:
users_DD.describe()

,Unnamed: 0,id,comments_mean,comments_sum,score_mean,score_sum,upvote_ratio_mean,upvote_ratio_sum,title_polarity,title_subjectivity,body_polarity,body_subjectivity,polarity
count,497.00000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000
mean,490.05835,23.480885,28.095833,803.696177,8.853013,298.975855,0.834085,19.001408,0.123916,0.427431,0.105229,0.444014,0.229145
std,284.26481,48.216625,34.853981,3212.144948,66.732247,2868.185680,0.269196,29.387015,0.151626,0.125662,0.061964,0.089176,0.175525
min,1.00000,11.000000,0.000000,0.000000,1.000000,11.000000,0.000000,0.000000,-0.366708,0.000000,-0.337492,0.000000,-0.322440
25%,247.00000,12.000000,9.583333,139.000000,1.000000,14.000000,0.791000,10.800000,0.036111,0.351732,0.072717,0.423336,0.123898
50%,485.00000,15.000000,16.727273,304.000000,1.200000,23.000000,0.974615,13.000000,0.113677,0.431250,0.106778,0.451936,0.216538
75%,735.00000,23.000000,32.727273,683.000000,2.037037,49.000000,1.000000,19.760000,0.209041,0.500000,0.133978,0.482814,0.327671
max,982.00000,1016.000000,399.153846,65688.000000,1232.000000,53236.000000,1.000000,551.630000,1.000000,1.000000,0.357143,0.742548,1.183293

In [14]:
# by median 
users_DD_gt_Median = users_DD[users_DD['score_mean'] >= users_DD['score_mean'].median()]
users_DD_gt_Median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251 entries, 1 to 980
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          251 non-null    int64
 1   author              251 non-null    object
 2   id                  251 non-null    int64
 3   title               251 non-null    object
 4   selftext            251 non-null    object
 5   date                251 non-null    object
 6   day                 251 non-null    object
 7   month               251 non-null    object
 8   year                251 non-null    object
 9   tickers_            80 non-null     object
 10  tickers_count_      251 non-null    object
 11  link_flair_text     251 non-null    object
 12  comments_mean       251 non-null    float64
 13  comments_sum        251 non-null    int64
 14  score_mean          251 non-null    float64
 15  score_sum           251 non-null    int64
 16  upvote_ratio_mean   251 non-null    float64
 17  upvote_ratio_sum    251 non-null    float64
 18  flairs              251 non-null    object
 19  flairs_count        251 non-null    object
 20  title_polarity      251 non-null    float64
 21  title_subjectivity  251 non-null    float64
 22  body_polarity       251 non-null    float64
 23  body_subjectivity   251 non-null    float64
 24  title_tokens        251 non-null    object
 25  selftext_tokens     251 non-null    object
 26  polarity            251 non-null    float64
 27  years_count         251 non-null    object
 28  months_count        251 non-null    object
 29  dates_count         251 non-null    object
dtypes: float64(9), int64(4), object(17)
memory usage: 60.8+ KB

In [15]:
users_DD_gt_Median.to_csv("data/stocks_users_DD_median.csv",sep=';',index=False)

In [25]:
users_DD_top = users_DD[users_DD['score_mean'] > 60]
users_DD_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 27 to 940
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              18 non-null     object
 1   id                  18 non-null     int64
 2   title               18 non-null     object
 3   selftext            18 non-null     object
 4   date                18 non-null     object
 5   day                 18 non-null     object
 6   month               18 non-null     object
 7   year                18 non-null     object
 8   tickers_            3 non-null      object
 9   tickers_count_      18 non-null     object
 10  link_flair_text     18 non-null     object
 11  comments_mean       18 non-null     float64
 12  comments_sum        18 non-null     int64
 13  score_mean          18 non-null     float64
 14  score_sum           18 non-null     int64
 15  upvote_ratio_mean   18 non-null     float64
 16  upvote_ratio_sum    18 non-null     float64
 17  flairs              18 non-null     object
 18  flairs_count        18 non-null     object
 19  title_polarity      18 non-null     float64
 20  title_subjectivity  18 non-null     float64
 21  body_polarity       18 non-null     float64
 22  body_subjectivity   18 non-null     float64
 23  title_tokens        18 non-null     object
 24  selftext_tokens     18 non-null     object
 25  polarity            18 non-null     float64
 26  years_count         18 non-null     object
 27  months_count        18 non-null     object
 28  dates_count         18 non-null     object
dtypes: float64(9), int64(3), object(17)
memory usage: 4.2+ KB

In [26]:
users_DD.to_csv("/content/drive/MyDrive/stocks/stocks_users_DD.csv",sep=';')

## Can we rank the users according to their expertise?

In [27]:
## rank users based on upvote ratio, num_comments etc.
## order by score_mean 
users_DD = users_DD.sort_values(by=['score_mean'],ascending=False)
users_DD.head()

                 author  ...                                        dates_count
661  hooman_or_whatever  ...  {'2021-04-18': 1, '2021-03-31': 1, '2021-03-09...
807              one8e4  ...  {'2021-07-27': 1, '2021-07-16': 1, '2021-05-27...
676        ilai_reddead  ...  {'2021-03-09': 1, '2021-02-27': 1, '2021-02-15...
27           AjaxFC1900  ...  {'2021-04-05': 1, '2021-02-23': 2, '2021-02-12...
153           Floofyboy  ...  {'2021-05-23': 1, '2021-04-20': 1, '2021-04-03...

[5 rows x 29 columns]

## Are the same users active in the other reviewed subreddits?

In [ ]:
## compare users with investing and stocks

# intersect top users of all three subreddits to find common users