In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.rcParams.update({"font.size": 12})
%matplotlib inline

In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\96ank\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
df = pd.read_csv("data/investing_top_users_features.csv", sep=";")
df.tail(1)

,Unnamed: 0,author,id,title,selftext,date,day,month,year,tickers_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
639,639,zuelearth,13,"Despite earnings beat and strong guidance, int...",How do you think current situation? As you kno...,"['2018-07-27', '2018-07-26', '2018-06-12', '20...",27 26 12 10 7 7 28 18 13 8 7 4 4,"['7', '7', '6', '6', '6', '6', '5', '5', '5', ...","['2018', '2018', '2018', '2018', '2018', '2018...",NaN,...,0.333333,0.358333,0.123641,0.57047,"['Despite', 'earnings', 'beat', 'and', 'strong...","['How', 'do', 'you', 'think', 'current', 'situ...",0.456974,{'2018': 13},"{'7': 2, '6': 4, '5': 7}","{'2018-07-27': 1, '2018-07-26': 1, '2018-06-12..."

In [3]:
df.describe()

,Unnamed: 0,id,comments_mean,comments_sum,score_mean,score_sum,upvote_ratio_mean,upvote_ratio_sum,title_polarity,title_subjectivity,body_polarity,body_subjectivity,polarity
count,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000
mean,319.500000,24.712500,37.648517,1240.575000,19.774047,691.657812,0.495559,10.949844,0.110445,0.413126,0.087713,0.412174,0.198158
std,184.896367,62.722195,43.209314,8209.209754,52.600012,2984.620108,0.404186,33.656414,0.129838,0.112277,0.064381,0.126287,0.153275
min,0.000000,11.000000,0.000000,0.000000,1.000000,11.000000,0.000000,0.000000,-0.225000,0.000000,-0.290000,0.000000,-0.310877
25%,159.750000,12.000000,9.661458,141.000000,1.000000,15.000000,0.060221,1.000000,0.027560,0.350919,0.056744,0.400735,0.096426
50%,319.500000,15.000000,21.248718,361.500000,1.562500,32.000000,0.453089,7.830000,0.097962,0.414467,0.088262,0.437296,0.184208
75%,479.250000,23.000000,50.481971,991.500000,11.255682,247.250000,0.969318,13.000000,0.172081,0.475347,0.122829,0.466898,0.280807
max,639.000000,1454.000000,267.666667,203053.000000,511.937500,52330.000000,1.000000,750.790000,0.650000,0.966667,0.426505,1.000000,0.822608

In [5]:
# overall top users > median
users_above_median = df[df['score_mean'] >= df['score_mean'].median()] #
users_above_median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 1 to 639
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          321 non-null    int64
 1   author              321 non-null    object
 2   id                  321 non-null    int64
 3   title               321 non-null    object
 4   selftext            321 non-null    object
 5   date                321 non-null    object
 6   day                 321 non-null    object
 7   month               321 non-null    object
 8   year                321 non-null    object
 9   tickers_            62 non-null     object
 10  tickers_count_      321 non-null    object
 11  link_flair_text     321 non-null    object
 12  comments_mean       321 non-null    float64
 13  comments_sum        321 non-null    int64
 14  score_mean          321 non-null    float64
 15  score_sum           321 non-null    int64
 16  upvote_ratio_mean   321 non-null    float64
 17  upvote_ratio_sum    321 non-null    float64
 18  flairs              321 non-null    object
 19  flairs_count        321 non-null    object
 20  title_polarity      321 non-null    float64
 21  title_subjectivity  321 non-null    float64
 22  body_polarity       321 non-null    float64
 23  body_subjectivity   321 non-null    float64
 24  title_tokens        321 non-null    object
 25  selftext_tokens     321 non-null    object
 26  polarity            321 non-null    float64
 27  years_count         321 non-null    object
 28  months_count        321 non-null    object
 29  dates_count         321 non-null    object
dtypes: float64(9), int64(4), object(17)
memory usage: 77.7+ KB

In [6]:
users_above_median.to_csv('data/investing_users_Overall_top_median.csv',sep=';',index=False)

In [7]:
# overall top between 25 to 75 percentile
users_25to75 = df.loc[(df['score_mean'] >= df['score_mean'].quantile(.25)) & (df['score_mean'] <= df['score_mean'].quantile(.75))]
#users_25to75 = df.loc[(df['score_mean'] >= 1) & (df['score_mean'] <= 2.17)]
users_25to75.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 637
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          480 non-null    int64
 1   author              480 non-null    object
 2   id                  480 non-null    int64
 3   title               480 non-null    object
 4   selftext            480 non-null    object
 5   date                480 non-null    object
 6   day                 480 non-null    object
 7   month               480 non-null    object
 8   year                480 non-null    object
 9   tickers_            76 non-null     object
 10  tickers_count_      480 non-null    object
 11  link_flair_text     480 non-null    object
 12  comments_mean       480 non-null    float64
 13  comments_sum        480 non-null    int64
 14  score_mean          480 non-null    float64
 15  score_sum           480 non-null    int64
 16  upvote_ratio_mean   480 non-null    float64
 17  upvote_ratio_sum    480 non-null    float64
 18  flairs              480 non-null    object
 19  flairs_count        480 non-null    object
 20  title_polarity      480 non-null    float64
 21  title_subjectivity  480 non-null    float64
 22  body_polarity       480 non-null    float64
 23  body_subjectivity   480 non-null    float64
 24  title_tokens        480 non-null    object
 25  selftext_tokens     480 non-null    object
 26  polarity            480 non-null    float64
 27  years_count         480 non-null    object
 28  months_count        480 non-null    object
 29  dates_count         480 non-null    object
dtypes: float64(9), int64(4), object(17)
memory usage: 116.2+ KB

In [8]:
users_25to75.to_csv('data/investing_users_25to75.csv',sep=';',index=False)

## Count Years, Months

In [4]:
from collections import Counter

In [5]:
df['year'] = df['year'].apply(lambda x: list(x.split(" ")))
df["years_count"] = df['year'].apply(lambda x: dict(Counter(list(x))))

In [6]:
df['month'] = df['month'].apply(lambda x: list(x.split(" ")))
df["months_count"] = df['month'].apply(lambda x: dict(Counter(list(x))))

In [7]:
df['date'] = df['date'].apply(lambda x: list(x.split(" ")))
df["dates_count"] = df['date'].apply(lambda x: dict(Counter(list(x))))

In [8]:
df.head(1)

,author,id,title,selftext,date,day,month,year,tickers_,tickers_count_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
0,007moonboundnxs,11,HBK-GoChain Announces Investment In Arabian Bo...,[removed] [removed] [removed] [removed] [remov...,"[2019-12-10, 2019-12-08, 2019-11-25, 2019-10-1...",10 8 25 15 14 9 1 14 10 7 7,"[12, 12, 11, 10, 10, 10, 6, 3, 11, 11, 11]","[2019, 2019, 2019, 2019, 2019, 2019, 2019, 201...",NaN,{},...,0.056404,0.213405,0.0,0.0,"['HBK', '-', 'GoChain', 'Announces', 'Investme...","['[', 'removed', ']', '[', 'removed', ']', '['...",0.056404,"{'2019': 8, '2018': 3}","{'12': 2, '11': 4, '10': 3, '6': 1, '3': 1}","{'2019-12-10': 1, '2019-12-08': 1, '2019-11-25..."

In [9]:
df.to_csv("data/investing_top_users_features.csv",sep=';')

## Are there differences between "old" users (pre-2021) and new ones?

In [10]:
# split dataset: pre and post hype 
#users_pre = df['year'].apply(lambda x:list(set(x).intersection(pre_years)))
users_post = df[['2021' in x for x in df['year'].values] and ['2020' not in x for x in df['year'].values] and ['2018' not in x for x in df['year'].values] and ['2019' not in x for x in df['year'].values]]
users_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 2 to 639
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              335 non-null    object
 1   id                  335 non-null    int64
 2   title               335 non-null    object
 3   selftext            335 non-null    object
 4   date                335 non-null    object
 5   day                 335 non-null    object
 6   month               335 non-null    object
 7   year                335 non-null    object
 8   tickers_            56 non-null     object
 9   tickers_count_      335 non-null    object
 10  link_flair_text     335 non-null    object
 11  comments_mean       335 non-null    float64
 12  comments_sum        335 non-null    int64
 13  score_mean          335 non-null    float64
 14  score_sum           335 non-null    int64
 15  upvote_ratio_mean   335 non-null    float64
 16  upvote_ratio_sum    335 non-null    float64
 17  flairs              335 non-null    object
 18  flairs_count        335 non-null    object
 19  title_polarity      335 non-null    float64
 20  title_subjectivity  335 non-null    float64
 21  body_polarity       335 non-null    float64
 22  body_subjectivity   335 non-null    float64
 23  title_tokens        335 non-null    object
 24  selftext_tokens     335 non-null    object
 25  polarity            335 non-null    float64
 26  years_count         335 non-null    object
 27  months_count        335 non-null    object
 28  dates_count         335 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 78.5+ KB

In [11]:
users_post.to_csv("data/investing_users_post-hype.csv",sep=';')

In [12]:
users_pre = df[['2021' not in x for x in df['year'].values]]
users_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271 entries, 0 to 639
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              271 non-null    object
 1   id                  271 non-null    int64
 2   title               271 non-null    object
 3   selftext            271 non-null    object
 4   date                271 non-null    object
 5   day                 271 non-null    object
 6   month               271 non-null    object
 7   year                271 non-null    object
 8   tickers_            41 non-null     object
 9   tickers_count_      271 non-null    object
 10  link_flair_text     271 non-null    object
 11  comments_mean       271 non-null    float64
 12  comments_sum        271 non-null    int64
 13  score_mean          271 non-null    float64
 14  score_sum           271 non-null    int64
 15  upvote_ratio_mean   271 non-null    float64
 16  upvote_ratio_sum    271 non-null    float64
 17  flairs              271 non-null    object
 18  flairs_count        271 non-null    object
 19  title_polarity      271 non-null    float64
 20  title_subjectivity  271 non-null    float64
 21  body_polarity       271 non-null    float64
 22  body_subjectivity   271 non-null    float64
 23  title_tokens        271 non-null    object
 24  selftext_tokens     271 non-null    object
 25  polarity            271 non-null    float64
 26  years_count         271 non-null    object
 27  months_count        271 non-null    object
 28  dates_count         271 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 63.5+ KB

In [13]:
users_pre.head(1)

,author,id,title,selftext,date,day,month,year,tickers_,tickers_count_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
0,007moonboundnxs,11,HBK-GoChain Announces Investment In Arabian Bo...,[removed] [removed] [removed] [removed] [remov...,"[2019-12-10, 2019-12-08, 2019-11-25, 2019-10-1...",10 8 25 15 14 9 1 14 10 7 7,"[12, 12, 11, 10, 10, 10, 6, 3, 11, 11, 11]","[2019, 2019, 2019, 2019, 2019, 2019, 2019, 201...",NaN,{},...,0.056404,0.213405,0.0,0.0,"['HBK', '-', 'GoChain', 'Announces', 'Investme...","['[', 'removed', ']', '[', 'removed', ']', '['...",0.056404,"{'2019': 8, '2018': 3}","{'12': 2, '11': 4, '10': 3, '6': 1, '3': 1}","{'2019-12-10': 1, '2019-12-08': 1, '2019-11-25..."

In [14]:
users_pre.to_csv("data/investing_users_pre-hype.csv",sep=';')

In [15]:
users_pre_post = df[['2021' in x for x in df['year'].values] and ['2020' in x for x in df['year'].values] and ['2018' in x for x in df['year'].values] and ['2019' in x for x in df['year'].values]]
users_pre_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305 entries, 0 to 638
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              305 non-null    object
 1   id                  305 non-null    int64
 2   title               305 non-null    object
 3   selftext            305 non-null    object
 4   date                305 non-null    object
 5   day                 305 non-null    object
 6   month               305 non-null    object
 7   year                305 non-null    object
 8   tickers_            50 non-null     object
 9   tickers_count_      305 non-null    object
 10  link_flair_text     305 non-null    object
 11  comments_mean       305 non-null    float64
 12  comments_sum        305 non-null    int64
 13  score_mean          305 non-null    float64
 14  score_sum           305 non-null    int64
 15  upvote_ratio_mean   305 non-null    float64
 16  upvote_ratio_sum    305 non-null    float64
 17  flairs              305 non-null    object
 18  flairs_count        305 non-null    object
 19  title_polarity      305 non-null    float64
 20  title_subjectivity  305 non-null    float64
 21  body_polarity       305 non-null    float64
 22  body_subjectivity   305 non-null    float64
 23  title_tokens        305 non-null    object
 24  selftext_tokens     305 non-null    object
 25  polarity            305 non-null    float64
 26  years_count         305 non-null    object
 27  months_count        305 non-null    object
 28  dates_count         305 non-null    object
dtypes: float64(9), int64(3), object(17)
memory usage: 71.5+ KB

In [16]:
users_pre_post.head(1)

,author,id,title,selftext,date,day,month,year,tickers_,tickers_count_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
0,007moonboundnxs,11,HBK-GoChain Announces Investment In Arabian Bo...,[removed] [removed] [removed] [removed] [remov...,"[2019-12-10, 2019-12-08, 2019-11-25, 2019-10-1...",10 8 25 15 14 9 1 14 10 7 7,"[12, 12, 11, 10, 10, 10, 6, 3, 11, 11, 11]","[2019, 2019, 2019, 2019, 2019, 2019, 2019, 201...",NaN,{},...,0.056404,0.213405,0.0,0.0,"['HBK', '-', 'GoChain', 'Announces', 'Investme...","['[', 'removed', ']', '[', 'removed', ']', '['...",0.056404,"{'2019': 8, '2018': 3}","{'12': 2, '11': 4, '10': 3, '6': 1, '3': 1}","{'2019-12-10': 1, '2019-12-08': 1, '2019-11-25..."

In [17]:
users_pre_post.to_csv("data/investing_users_pre-post_hype.csv",sep=';')

## Can we identify those that have posted (successful) DDs, Analysis, Company?

In [ ]:
df['flairs'].values[100:190]

In [9]:
## get all users with 'DD' flair and high upvotes, positive sentiment 
users_DD = df[['Discussion' in x for x in df['flairs'].values] or ['Education' in x for x in df['flairs'].values]]
users_DD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 6 to 634
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          45 non-null     int64
 1   author              45 non-null     object
 2   id                  45 non-null     int64
 3   title               45 non-null     object
 4   selftext            45 non-null     object
 5   date                45 non-null     object
 6   day                 45 non-null     object
 7   month               45 non-null     object
 8   year                45 non-null     object
 9   tickers_            11 non-null     object
 10  tickers_count_      45 non-null     object
 11  link_flair_text     45 non-null     object
 12  comments_mean       45 non-null     float64
 13  comments_sum        45 non-null     int64
 14  score_mean          45 non-null     float64
 15  score_sum           45 non-null     int64
 16  upvote_ratio_mean   45 non-null     float64
 17  upvote_ratio_sum    45 non-null     float64
 18  flairs              45 non-null     object
 19  flairs_count        45 non-null     object
 20  title_polarity      45 non-null     float64
 21  title_subjectivity  45 non-null     float64
 22  body_polarity       45 non-null     float64
 23  body_subjectivity   45 non-null     float64
 24  title_tokens        45 non-null     object
 25  selftext_tokens     45 non-null     object
 26  polarity            45 non-null     float64
 27  years_count         45 non-null     object
 28  months_count        45 non-null     object
 29  dates_count         45 non-null     object
dtypes: float64(9), int64(4), object(17)
memory usage: 10.9+ KB

In [10]:
users_DD.head(2)

,Unnamed: 0,author,id,title,selftext,date,day,month,year,tickers_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
6,6,14MTH30n3,30,I am curious how much do you micromanage inves...,[removed] [removed] [removed] [removed] [remov...,"['2021-09-20', '2021-07-11', '2021-06-22', '20...",20 11 22 6 1 21 13 13 9 31 13 4 26 12 9 8 28 1...,"['9', '7', '6', '6', '6', '5', '5', '5', '2', ...","['2021', '2021', '2021', '2021', '2021', '2021...",NaN,...,0.150482,0.439482,0.005088,0.490042,"['I', 'am', 'curious', 'how', 'much', 'do', 'y...","['[', 'removed', ']', '[', 'removed', ']', '['...",0.15557,"{'2021': 9, '2020': 10, '2019': 2, '2018': 9}","{'9': 1, '7': 2, '6': 4, '5': 4, '2': 4, '12':...","{'2021-09-20': 1, '2021-07-11': 1, '2021-06-22..."
18,18,Aboly,23,What happened with chines ADR on yahoo finance...,It looks like a bug on yahoo finance. these nu...,"['2020-02-26', '2020-01-30', '2020-01-14', '20...",26 30 14 13 27 18 11 29 10 29 8 19 23 14 13 31...,"['2', '1', '1', '1', '12', '12', '10', '7', '5...","['2020', '2020', '2020', '2020', '2019', '2019...",['TSLA'],...,0.109435,0.500867,0.031094,0.403637,"['What', 'happened', 'with', 'chines', 'ADR', ...","['It', 'looks', 'like', 'a', 'bug', 'on', 'yah...",0.14053,"{'2020': 4, '2019': 7, '2018': 12}","{'2': 2, '1': 7, '12': 2, '10': 1, '7': 3, '5'...","{'2020-02-26': 1, '2020-01-30': 1, '2020-01-14..."

In [11]:
users_DD.describe()

,Unnamed: 0,id,comments_mean,comments_sum,score_mean,score_sum,upvote_ratio_mean,upvote_ratio_sum,title_polarity,title_subjectivity,body_polarity,body_subjectivity,polarity
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,351.666667,28.111111,35.025153,1373.355556,28.965056,1538.800000,0.110060,3.152444,0.133494,0.428966,0.083989,0.404208,0.217483
std,201.786228,30.758755,31.965044,2935.517394,51.441536,4275.123819,0.148571,5.738795,0.135121,0.136624,0.062864,0.139004,0.158584
min,6.000000,11.000000,0.000000,0.000000,1.000000,11.000000,0.000000,0.000000,-0.159322,0.000000,-0.093019,0.000000,-0.136289
25%,188.000000,14.000000,11.780488,241.000000,2.281250,49.000000,0.000000,0.000000,0.039517,0.389489,0.047873,0.385301,0.107364
50%,331.000000,20.000000,24.840000,475.000000,5.450000,109.000000,0.033333,1.000000,0.123422,0.443119,0.078849,0.434995,0.164386
75%,528.000000,31.000000,46.222222,1248.000000,22.783333,681.000000,0.200000,3.000000,0.210074,0.473571,0.126753,0.474774,0.312641
max,634.000000,204.000000,159.125000,14672.000000,235.659091,20738.000000,0.555556,31.300000,0.500000,0.900000,0.213261,0.612352,0.596595

In [13]:
# by median 
users_DD_gt_Median = users_DD[users_DD['score_mean'] >= users_DD['score_mean'].median()]
users_DD_gt_Median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 18 to 626
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          23 non-null     int64
 1   author              23 non-null     object
 2   id                  23 non-null     int64
 3   title               23 non-null     object
 4   selftext            23 non-null     object
 5   date                23 non-null     object
 6   day                 23 non-null     object
 7   month               23 non-null     object
 8   year                23 non-null     object
 9   tickers_            6 non-null      object
 10  tickers_count_      23 non-null     object
 11  link_flair_text     23 non-null     object
 12  comments_mean       23 non-null     float64
 13  comments_sum        23 non-null     int64
 14  score_mean          23 non-null     float64
 15  score_sum           23 non-null     int64
 16  upvote_ratio_mean   23 non-null     float64
 17  upvote_ratio_sum    23 non-null     float64
 18  flairs              23 non-null     object
 19  flairs_count        23 non-null     object
 20  title_polarity      23 non-null     float64
 21  title_subjectivity  23 non-null     float64
 22  body_polarity       23 non-null     float64
 23  body_subjectivity   23 non-null     float64
 24  title_tokens        23 non-null     object
 25  selftext_tokens     23 non-null     object
 26  polarity            23 non-null     float64
 27  years_count         23 non-null     object
 28  months_count        23 non-null     object
 29  dates_count         23 non-null     object
dtypes: float64(9), int64(4), object(17)
memory usage: 5.6+ KB

In [14]:
users_DD_gt_Median.to_csv("data/investing_users_DD_median.csv",sep=';',index=False)

In [28]:
users_DD_top = users_DD[users_DD['score_mean'] > 10]
users_DD_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 18 to 626
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author              19 non-null     object
 1   id                  19 non-null     int64
 2   title               19 non-null     object
 3   selftext            19 non-null     object
 4   date                19 non-null     object
 5   day                 19 non-null     object
 6   month               19 non-null     object
 7   year                19 non-null     object
 8   tickers_            4 non-null      object
 9   tickers_count_      19 non-null     object
 10  link_flair_text     19 non-null     object
 11  comments_mean       19 non-null     float64
 12  comments_sum        19 non-null     int64
 13  score_mean          19 non-null     float64
 14  score_sum           19 non-null     int64
 15  upvote_ratio_mean   19 non-null     float64
 16  upvote_ratio_sum    19 non-null     float64
 17  flairs              19 non-null     object
 18  flairs_count        19 non-null     object
 19  title_polarity      19 non-null     float64
 20  title_subjectivity  19 non-null     float64
 21  body_polarity       19 non-null     float64
 22  body_subjectivity   19 non-null     float64
 23  title_tokens        19 non-null     object
 24  selftext_tokens     19 non-null     object
 25  polarity            19 non-null     float64
 26  years_count         19 non-null     object
 27  months_count        19 non-null     object
 28  dates_count         19 non-null     object
dtypes: float64(9), int64(3), object(17)
memory usage: 4.5+ KB

In [29]:
users_DD.to_csv("data/investing_users_DD.csv",sep=';')

## Can we rank the users according to their expertise?

In [30]:
## rank users based on upvote ratio, num_comments etc.
## order by score_mean 
users_DD = users_DD.sort_values(by=['score_mean'],ascending=False)
users_DD.head()

,author,id,title,selftext,date,day,month,year,tickers_,tickers_count_,...,title_polarity,title_subjectivity,body_polarity,body_subjectivity,title_tokens,selftext_tokens,polarity,years_count,months_count,dates_count
65,ChocolateTsar,88,Amazon to stop accepting Visa credit cards iss...,&gt;**KEY POINTS** \n&gt; \n&gt;**Amazon has...,"[2021-11-17, 2021-11-09, 2021-10-28, 2021-10-1...",17 9 28 11 27 23 30 25 22 5 14 29 28 16 15 13 ...,"[11, 11, 10, 10, 8, 8, 6, 6, 6, 5, 4, 1, 1, 1,...","[2021, 2021, 2021, 2021, 2021, 2021, 2021, 202...",NaN,{},...,0.039517,0.386575,0.068774,0.393855,"['Amazon', 'to', 'stop', 'accepting', 'Visa', ...","['&', 'gt;**KEY', 'POINTS', '*', '*', ' \n', '...",0.108291,"{'2021': 17, '2020': 41, '2019': 21, '2018': 9}","{'11': 7, '10': 7, '8': 6, '6': 7, '5': 5, '4'...","{'2021-11-17': 1, '2021-11-09': 1, '2021-10-28..."
286,Wagamaga,31,"Gold likely to bounce back to $1,320 an ounce ...",https://www.scrapregister.com/news/45285/gold-...,"[2018-10-15, 2018-10-13, 2018-08-31, 2018-07-2...",15 13 31 29 1 27 25 22 17 16 15 13 8 2 25 15 1...,"[10, 10, 8, 7, 7, 6, 6, 5, 5, 5, 5, 5, 5, 5, 4...","[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",NaN,{},...,0.097541,0.458785,0.000000,0.000000,"['Gold', 'likely', 'to', 'bounce', 'back', 'to...",['https://www.scrapregister.com/news/45285/gol...,0.097541,{'2018': 31},"{'10': 2, '8': 1, '7': 2, '6': 2, '5': 7, '4':...","{'2018-10-15': 1, '2018-10-13': 1, '2018-08-31..."
113,GoldMEng,54,Facebook CEO Mark Zuckerberg stands his ground...,https://twitter.com/CNN/status/106503631561866...,"[2018-11-21, 2018-10-31, 2018-10-31, 2018-10-2...",21 31 31 26 10 5 4 3 3 1 1 29 27 26 25 23 21 7...,"[11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 9...","[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...","['GE', 'WAB']","{'GE': 1, 'WAB': 1}",...,0.056128,0.389489,0.000000,0.000000,"['Facebook', 'CEO', 'Mark', 'Zuckerberg', 'sta...",['https://twitter.com/CNN/status/1065036315618...,0.056128,{'2018': 54},"{'11': 1, '10': 10, '9': 7, '8': 2, '7': 4, '6...","{'2018-11-21': 1, '2018-10-31': 2, '2018-10-26..."
623,warrenfgerald,20,If people were angry when brokers halted GME b...,I was just listening to a podcast with an inve...,"[2021-11-14, 2021-08-02, 2021-04-09, 2021-01-0...",14 2 9 8 28 12 13 27 25 19 27 22 28 11 7 2 9 7...,"[11, 8, 4, 1, 4, 3, 12, 11, 7, 7, 6, 5, 4, 4, ...","[2021, 2021, 2021, 2021, 2020, 2020, 2019, 201...",NaN,{},...,-0.075540,0.420886,0.061777,0.454891,"['If', 'people', 'were', 'angry', 'when', 'bro...","['I', 'was', 'just', 'listening', 'to', 'a', '...",-0.013763,"{'2021': 4, '2020': 2, '2019': 1, '2018': 13}","{'11': 2, '8': 1, '4': 6, '1': 2, '3': 1, '12'...","{'2021-11-14': 1, '2021-08-02': 1, '2021-04-09..."
156,Lost_in_Adeles_Rolls,42,Performance Update for Passive Investors who o...,[removed] [removed] [https://www.businessinsi...,"[2020-12-21, 2020-06-12, 2020-03-18, 2020-03-1...",21 12 18 18 11 6 26 24 22 29 28 19 19 15 3 26 ...,"[12, 6, 3, 3, 9, 9, 8, 8, 5, 4, 4, 4, 4, 4, 4,...","[2020, 2020, 2020, 2020, 2019, 2019, 2019, 201...",NaN,{},...,0.020241,0.296416,0.066598,0.381167,"['Performance', 'Update', 'for', 'Passive', 'I...","['[', 'removed', ']', '[', 'removed', ']', ' '...",0.086839,"{'2020': 4, '2019': 19, '2018': 19}","{'12': 2, '6': 3, '3': 6, '9': 7, '8': 6, '5':...","{'2020-12-21': 1, '2020-06-12': 1, '2020-03-18..."

## Are the same users active in the other reviewed subreddits?

In [ ]:
## compare users with investing and stocks

# intersect top users of all three subreddits to find common users